In [57]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.types import StringType

from pyspark.sql.functions import col, sum, round, countDistinct, max, variance

from pyspark.ml.classification import RandomForestClassifier, LogisticRegression, NaiveBayes
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.ml.feature import VectorAssembler, StandardScaler
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator
from pyspark.ml.clustering import KMeans

In [58]:
# Initialize Spark Session
spark = SparkSession.builder.appName("HealthCareModel").getOrCreate()

In [59]:
part_d_data_path = "../DataSet/Prescribers - by Provider and Drug/MUP_DPR_RY23_P04_V10_DY21_NPIBN.csv"
df = spark.read.csv(part_d_data_path, header=True, inferSchema=True)

In [60]:
df.printSchema()

root
 |-- Prscrbr_NPI: integer (nullable = true)
 |-- Prscrbr_Last_Org_Name: string (nullable = true)
 |-- Prscrbr_First_Name: string (nullable = true)
 |-- Prscrbr_City: string (nullable = true)
 |-- Prscrbr_State_Abrvtn: string (nullable = true)
 |-- Prscrbr_State_FIPS: string (nullable = true)
 |-- Prscrbr_Type: string (nullable = true)
 |-- Prscrbr_Type_Src: string (nullable = true)
 |-- Brnd_Name: string (nullable = true)
 |-- Gnrc_Name: string (nullable = true)
 |-- Tot_Clms: integer (nullable = true)
 |-- Tot_30day_Fills: double (nullable = true)
 |-- Tot_Day_Suply: integer (nullable = true)
 |-- Tot_Drug_Cst: double (nullable = true)
 |-- Tot_Benes: integer (nullable = true)
 |-- GE65_Sprsn_Flag: string (nullable = true)
 |-- GE65_Tot_Clms: integer (nullable = true)
 |-- GE65_Tot_30day_Fills: double (nullable = true)
 |-- GE65_Tot_Drug_Cst: double (nullable = true)
 |-- GE65_Tot_Day_Suply: integer (nullable = true)
 |-- GE65_Bene_Sprsn_Flag: string (nullable = true)
 |-- GE65_Tot_Benes: integer (nullable = true)

In [61]:
part_d_data_t = df.select(
    col("Prscrbr_NPI").alias("npi"),
    col("Prscrbr_City").alias("city"),
    col("Prscrbr_State_Abrvtn").alias("state"),
    col("Prscrbr_Last_Org_Name").alias("last_name"),
    col("Prscrbr_First_Name").alias("first_name"),
    col("Prscrbr_Type").alias("specialty"),
    col("Brnd_Name").alias("drug_name"),
    col("Gnrc_Name").alias("generic_name"),
    col("Tot_Drug_Cst").alias("total_drug_cost"),
    col("Tot_Clms").alias("total_claim_count"),
    col("Tot_Day_Suply").alias("total_day_supply")
)

In [63]:
# Step 1: Assign one DataFrame to another
part_d_pd1 = part_d_data_t

# Step 2: Select specific columns
part_d_drug_df = part_d_data_t.select("npi", "drug_name", "total_drug_cost", "total_claim_count", "total_day_supply", "specialty")

# Step 3: Change the data type of 'npi' to StringType
part_d_drug_df = part_d_drug_df.withColumn("npi", col("npi").cast(StringType()))

# Step 4: Select specific columns from another DataFrame
part_d_spec_df1 = part_d_data_t.select("npi", "specialty")

# Step 5: Show the first few rows (equivalent to head(0) in Pandas)
part_d_spec_df1.show()
part_d_drug_df.show()

+----------+-----------------+
|       npi|        specialty|
+----------+-----------------+
|1003000126|Internal Medicine|
|1003000126|Internal Medicine|
|1003000126|Internal Medicine|
|1003000126|Internal Medicine|
|1003000126|Internal Medicine|
|1003000126|Internal Medicine|
|1003000126|Internal Medicine|
|1003000126|Internal Medicine|
|1003000126|Internal Medicine|
|1003000126|Internal Medicine|
|1003000126|Internal Medicine|
|1003000126|Internal Medicine|
|1003000126|Internal Medicine|
|1003000126|Internal Medicine|
|1003000126|Internal Medicine|
|1003000126|Internal Medicine|
|1003000126|Internal Medicine|
|1003000126|Internal Medicine|
|1003000126|Internal Medicine|
|1003000126|Internal Medicine|
+----------+-----------------+
only showing top 20 rows

+----------+--------------------+---------------+-----------------+----------------+-----------------+
|       npi|           drug_name|total_drug_cost|total_claim_count|total_day_supply|        specialty|
+----------+--------------------+---------------+-----------------+----------------+-----------------+
|1003000126|  Alendronate Sodium|         125.28|               11|             930|Internal Medicine|
|1003000126| Amlodipine Besylate|         812.86|               64|            5311|Internal Medicine|
|1003000126|            Atenolol|         220.84|               12|            1080|Internal Medicine|
|1003000126|Atorvastatin Calcium|         825.26|               46|            3660|Internal Medicine|
|1003000126|            Cefdinir|          175.5|               11|              89|Internal Medicine|
|1003000126|         Clopidogrel|         128.02|               14|             960|Internal Medicine|
|1003000126|             Eliquis|        7150.87|               15|             422|Internal Medicine|
|1003000126|Escitalopram Oxalate|         703.42|               30|            2013|Internal Medicine|
|1003000126|         Finasteride|         526.76|               19|            1710|Internal Medicine|
|1003000126|          Furosemide|         158.74|               20|            1003|Internal Medicine|
|1003000126|          Gabapentin|          222.0|               13|             720|Internal Medicine|
|1003000126|        Glipizide Er|         354.79|               18|            1500|Internal Medicine|
|1003000126|     Hydralazine Hcl|          358.6|               31|            2180|Internal Medicine|
|1003000126| Hydrochlorothiazide|         121.52|               26|            2043|Internal Medicine|
|1003000126|Isosorbide Mononi...|          246.5|               11|             870|Internal Medicine|
|1003000126|             Januvia|       18816.27|               14|            1080|Internal Medicine|
|1003000126|Levothyroxine Sodium|         747.17|               30|            2384|Internal Medicine|
|1003000126|          Lisinopril|         239.14|               23|            1710|Internal Medicine|
|1003000126|  Losartan Potassium|        1125.87|               52|            4560|Internal Medicine|
|1003000126|       Metformin Hcl|         269.62|               32|            2677|Internal Medicine|
+----------+--------------------+---------------+-----------------+----------------+-----------------+
only showing top 20 rows

In [64]:
part_d_pd2 = part_d_data_t.select('npi',
                                  'city',
                                  'state',
                                  'last_name',
                                  'first_name',
                                  'specialty')

part_d_pd2.show()

+----------+--------+-----+---------+----------+-----------------+
|       npi|    city|state|last_name|first_name|        specialty|
+----------+--------+-----+---------+----------+-----------------+
|1003000126|Bethesda|   MD|Enkeshafi|   Ardalan|Internal Medicine|
|1003000126|Bethesda|   MD|Enkeshafi|   Ardalan|Internal Medicine|
|1003000126|Bethesda|   MD|Enkeshafi|   Ardalan|Internal Medicine|
|1003000126|Bethesda|   MD|Enkeshafi|   Ardalan|Internal Medicine|
|1003000126|Bethesda|   MD|Enkeshafi|   Ardalan|Internal Medicine|
|1003000126|Bethesda|   MD|Enkeshafi|   Ardalan|Internal Medicine|
|1003000126|Bethesda|   MD|Enkeshafi|   Ardalan|Internal Medicine|
|1003000126|Bethesda|   MD|Enkeshafi|   Ardalan|Internal Medicine|
|1003000126|Bethesda|   MD|Enkeshafi|   Ardalan|Internal Medicine|
|1003000126|Bethesda|   MD|Enkeshafi|   Ardalan|Internal Medicine|
|1003000126|Bethesda|   MD|Enkeshafi|   Ardalan|Internal Medicine|
|1003000126|Bethesda|   MD|Enkeshafi|   Ardalan|Internal Medicine|
|1003000126|Bethesda|   MD|Enkeshafi|   Ardalan|Internal Medicine|
|1003000126|Bethesda|   MD|Enkeshafi|   Ardalan|Internal Medicine|
|1003000126|Bethesda|   MD|Enkeshafi|   Ardalan|Internal Medicine|
|1003000126|Bethesda|   MD|Enkeshafi|   Ardalan|Internal Medicine|
|1003000126|Bethesda|   MD|Enkeshafi|   Ardalan|Internal Medicine|
|1003000126|Bethesda|   MD|Enkeshafi|   Ardalan|Internal Medicine|
|1003000126|Bethesda|   MD|Enkeshafi|   Ardalan|Internal Medicine|
|1003000126|Bethesda|   MD|Enkeshafi|   Ardalan|Internal Medicine|
+----------+--------+-----+---------+----------+-----------------+
only showing top 20 rows

In [65]:
part_d_pd_u = part_d_pd2.dropDuplicates()

# Show the result
part_d_pd_u.show()

+----------+-------------+-----+---------+----------+-------------------+
|       npi|         city|state|last_name|first_name|          specialty|
+----------+-------------+-----+---------+----------+-------------------+
|1003028002|      Durango|   CO|   Haynes|      Kent|            Dentist|
|1003041476|     Oak Park|   IL| Lindgren|     Kevin|Allergy/ Immunology|
|1003043555|   Washington|   PA|  Orlosky|     Julie|    Family Practice|
|1003046939|      Spencer|   IA|  Heckert|     Kathi| Nurse Practitioner|
|1003055781|     Hartford|   CT|     Rice|     Jenny|Physician Assistant|
|1003064825|        Parma|   OH| Phillips|    Cherie|   Vascular Surgery|
|1003091539|    Fullerton|   CA|      Woo|      Kiho|  Internal Medicine|
|1003095167|      El Paso|   IL|    Tyner|Jean-Marie| Nurse Practitioner|
|1003101932|   Cumberland|   MD|     Hong|     Feiyu|  Internal Medicine|
|1003119009|     Bellevue|   WA|  Swenson|   Jessica| Nurse Practitioner|
|1003127002|       Laredo|   TX|  Ramirez|     Jorge|            Urology|
|1003186644|       Auburn|   CA|  Ciobanu|      Dana|  Internal Medicine|
|1003218280|    Mc Murray|   PA|   Bowman|  Jennifer| Nurse Practitioner|
|1003220062| Philadelphia|   PA| Thompson|    Taylor|Physician Assistant|
|1003226069|   Loganville|   GA|    Naidu|    Gopika| Nurse Practitioner|
|1003228727|   Santa Cruz|   CA|  Eisberg|    Carrie|    Family Practice|
|1003234378|     Danville|   PA|  Bernett|      John| Emergency Medicine|
|1003248105|Mission Hills|   CA|  Tahoori|     Armin|  Internal Medicine|
|1003262668|       Austin|   MN|      Mir|      Izza|  Internal Medicine|
|1003297581|      Medford|   WI|   Werner|   Gregory|Physician Assistant|
+----------+-------------+-----+---------+----------+-------------------+
only showing top 20 rows

In [66]:
group_cols = ['npi']

part_d_pd3 = (part_d_pd1.groupBy(group_cols)
             .agg(
                 F.sum("total_drug_cost").alias("sum_total_drug_cost"),
                 F.mean("total_drug_cost").alias("mean_total_drug_cost"),
                 F.max("total_drug_cost").alias("max_total_drug_cost"),
                 F.sum("total_claim_count").alias("sum_total_claim_count"),
                 F.mean("total_claim_count").alias("mean_total_claim_count"),
                 F.max("total_claim_count").alias("max_total_claim_count"),
                 F.sum("total_day_supply").alias("sum_total_day_supply"),
                 F.mean("total_day_supply").alias("mean_total_day_supply"),
                 F.max("total_day_supply").alias("max_total_day_supply")
             ))

# Cast to float if necessary (optional)
for col_name in part_d_pd3.columns:
    part_d_pd3 = part_d_pd3.withColumn(col_name, F.col(col_name).cast("float"))

# Show the result
part_d_pd3.show()

+------------+-------------------+--------------------+-------------------+---------------------+----------------------+---------------------+--------------------+---------------------+--------------------+
|         npi|sum_total_drug_cost|mean_total_drug_cost|max_total_drug_cost|sum_total_claim_count|mean_total_claim_count|max_total_claim_count|sum_total_day_supply|mean_total_day_supply|max_total_day_supply|
+------------+-------------------+--------------------+-------------------+---------------------+----------------------+---------------------+--------------------+---------------------+--------------------+
| 1.0030432E9|           18613.12|             930.656|            7077.18|                355.0|                 17.75|                 44.0|             21040.0|               1052.0|              3000.0|
|1.00307283E9|          282157.47|           3399.4878|           45438.26|               4100.0|              49.39759|                244.0|            203448.0|            2451.1807|             12151.0|
|1.00310195E9|               73.2|                73.2|               73.2|                 12.0|                  12.0|                 12.0|               360.0|                360.0|               360.0|
|1.00311366E9|           479970.3|           11162.101|          235380.25|               3985.0|             92.674416|                521.0|            260880.0|            6066.9766|             35095.0|
| 1.0031264E9|             541.05|            135.2625|             275.58|                158.0|                  39.5|                118.0|               796.0|                199.0|               582.0|
|1.00314694E9|           273019.0|            9750.679|           86790.29|               1114.0|             39.785713|                248.0|             47007.0|            1678.8214|              7335.0|
|1.00314886E9|            32623.4|             16311.7|           20481.13|                 39.0|                  19.5|                 25.0|              1410.0|                705.0|               990.0|
| 1.0031605E9|             189.17|              189.17|             189.17|                 13.0|                  13.0|                 13.0|               321.0|                321.0|               321.0|
| 1.0031639E9|           29274.11|           2661.2827|           14106.35|                313.0|             28.454546|                 69.0|             28407.0|            2582.4546|              6200.0|
|  1.003164E9|            4440.57|             888.114|            1870.65|                160.0|                  32.0|                 65.0|              5752.0|               1150.4|              2498.0|
|1.00316416E9|               31.4|                31.4|               31.4|                 15.0|                  15.0|                 15.0|                81.0|                 81.0|                81.0|
| 1.0031663E9|             133.79|              66.895|              73.46|                 47.0|                  23.5|                 28.0|               248.0|                124.0|               196.0|
| 1.0031798E9|           282452.4|           13450.115|          111328.11|                806.0|              38.38095|                133.0|             43594.0|            2075.9048|              9358.0|
| 1.0031976E9|              239.6|               239.6|              239.6|                 17.0|                  17.0|                 17.0|               480.0|                480.0|               480.0|
| 1.0032014E9|               57.4|                57.4|               57.4|                 11.0|                  11.0|                 11.0|                77.0|                 77.0|                77.0|
|1.00321683E9|          511219.62|            9831.146|          102390.27|               2785.0|             53.557693|                184.0|             88506.0|            1702.0385|              6660.0|
|1.00322816E9|            7052.19|           1763.0475|            6376.26|                 75.0|                 18.75|                 26.0|              3990.0|                997.5|              1740.0|
|1.00324544E9|           49803.06|            4527.551|           39861.49|                146.0|             13.272727|                 21.0|              6645.0|             604.0909|              1470.0|
|1.00324704E9|            6307.04|             6307.04|            6307.04|                 34.0|                  34.0|                 34.0|                34.0|                 34.0|                34.0|
| 1.0032762E9|             240.78|               80.26|             140.02|                 55.0|             18.333334|                 26.0|               300.0|                100.0|               179.0|
+------------+-------------------+--------------------+-------------------+---------------------+----------------------+---------------------+--------------------+---------------------+--------------------+
only showing top 20 rows

In [67]:
part_d_pd3.count()

1017417

In [69]:
part_d_all_pd = part_d_pd3.join(part_d_pd_u, on='npi', how='left')

# Show the result
part_d_all_pd.show()

+------------+-------------------+--------------------+-------------------+---------------------+----------------------+---------------------+--------------------+---------------------+--------------------+--------------+-----+--------------+----------+--------------------+
|         npi|sum_total_drug_cost|mean_total_drug_cost|max_total_drug_cost|sum_total_claim_count|mean_total_claim_count|max_total_claim_count|sum_total_day_supply|mean_total_day_supply|max_total_day_supply|          city|state|     last_name|first_name|           specialty|
+------------+-------------------+--------------------+-------------------+---------------------+----------------------+---------------------+--------------------+---------------------+--------------------+--------------+-----+--------------+----------+--------------------+
| 1.0030124E9|             577.08|              288.54|             373.53|                 70.0|                  35.0|                 39.0|               478.0|                239.0|               283.0|Pompton Plains|   NJ|        Tindoc|  Lorelane|     Family Practice|
| 1.0030124E9|             577.08|              288.54|             373.53|                 70.0|                  35.0|                 39.0|               478.0|                239.0|               283.0|     San Diego|   CA|   Chittaphong|       Lam|             Dentist|
| 1.0030124E9|             577.08|              288.54|             373.53|                 70.0|                  35.0|                 39.0|               478.0|                239.0|               283.0|    Crittenden|   KY|         Patel|     Viral|     Family Practice|
|1.00302304E9|            1156.66|             289.165|             481.15|                231.0|                 57.75|                116.0|              1321.0|               330.25|               816.0|    Cincinnati|   OH|      Musgrave|     Ethan|     Neuropsychiatry|
|1.00302304E9|            1156.66|             289.165|             481.15|                231.0|                 57.75|                116.0|              1321.0|               330.25|               816.0|      New York|   NY|      Kasahara|  Takehiro|Oral Surgery (Den...|
|1.00302445E9|             116.89|              58.445|              87.57|                 36.0|                  18.0|                 20.0|               664.0|                332.0|               480.0|    South Gate|   CA|      Khonsary| Seyed Ali|    Nuclear Medicine|
|1.00304486E9|             296.23|              296.23|             296.23|                 27.0|                  27.0|                 27.0|               208.0|                208.0|               208.0|   Los Angeles|   CA|       Trenkle|  Geoffrey|      Otolaryngology|
|1.00304486E9|             296.23|              296.23|             296.23|                 27.0|                  27.0|                 27.0|               208.0|                208.0|               208.0|       Chicago|   IL|    Khorasanee|Jacqueline|  Emergency Medicine|
|1.00304486E9|             296.23|              296.23|             296.23|                 27.0|                  27.0|                 27.0|               208.0|                208.0|               208.0|        Camden|   NJ|         Chase|    Rachel|  Emergency Medicine|
|1.00305856E9|          787805.44|            41463.44|          549919.56|               2828.0|              148.8421|               1071.0|            177261.0|             9329.526|             78262.0|    Woodbridge|   VA|Jimenez-Tosado|     Zahir|     Family Practice|
|1.00305856E9|          787805.44|            41463.44|          549919.56|               2828.0|              148.8421|               1071.0|            177261.0|             9329.526|             78262.0|      Woodbury|   MN|        Kieley|    Samuel|             Urology|
|1.00306285E9|             250.07|            83.35667|             111.04|                 61.0|             20.333334|                 26.0|               615.0|                205.0|               343.0|        Auburn|   WA|    Srivastava|     Dipti|             Dentist|
|1.00306285E9|             250.07|            83.35667|             111.04|                 61.0|             20.333334|                 26.0|               615.0|                205.0|               343.0|        Caguas|   PR|     Rios Sola|    Miguel|    General Practice|
| 1.0030655E9|            1736.81|           289.46832|             624.62|                152.0|             25.333334|                 36.0|               946.0|            157.66667|               246.0|    Pittsburgh|   PA|        Turner|     Josef|  Emergency Medicine|
|1.00307014E9|          168403.05|           2760.7058|           20900.79|               2228.0|              36.52459|                183.0|            128106.0|            2100.0984|             11415.0|   Tallahassee|   FL|        Tinson|      Faye|  Nurse Practitioner|
|1.00307014E9|          168403.05|           2760.7058|           20900.79|               2228.0|              36.52459|                183.0|            128106.0|            2100.0984|             11415.0|    Germantown|   TN|      Ahmadian|  Homayoun|          Cardiology|
| 1.0030707E9|            1540.37|           220.05286|             453.67|                257.0|             36.714287|                101.0|              1894.0|            270.57144|               556.0|       Detroit|   MI|         Beard|      Mark|     Family Practice|
| 1.0030707E9|            1540.37|           220.05286|             453.67|                257.0|             36.714287|                101.0|              1894.0|            270.57144|               556.0|     Corsicana|   TX|        Wright|    Justin|             Dentist|
| 1.0030727E9|          237329.38|           2282.0132|           87333.15|               3932.0|             37.807693|                183.0|            164374.0|            1580.5193|             10351.0|       Merrill|   WI|      Sedlacek|    Robert|     Family Practice|
| 1.0030737E9|            4320.14|           332.31845|             1228.1|                380.0|              29.23077|                120.0|              3080.0|            236.92308|               662.0|      La Jolla|   CA|         Weiss|    George|    General Practice|
+------------+-------------------+--------------------+-------------------+---------------------+----------------------+---------------------+--------------------+---------------------+--------------------+--------------+-----+--------------+----------+--------------------+
only showing top 20 rows

In [75]:
payment_data_path="../DataSet/PaymentDataSet/OP_DTL_OWNRSHP_PGYR2021_P06302023.csv"
pds = spark.read.csv(payment_data_path, header=True, inferSchema=True)

In [76]:
pds.printSchema()

root
 |-- Change_Type: string (nullable = true)
 |-- Physician_Profile_ID: integer (nullable = true)
 |-- Physician_NPI: integer (nullable = true)
 |-- Physician_First_Name: string (nullable = true)
 |-- Physician_Middle_Name: string (nullable = true)
 |-- Physician_Last_Name: string (nullable = true)
 |-- Physician_Name_Suffix: string (nullable = true)
 |-- Recipient_Primary_Business_Street_Address_Line1: string (nullable = true)
 |-- Recipient_Primary_Business_Street_Address_Line2: string (nullable = true)
 |-- Recipient_City: string (nullable = true)
 |-- Recipient_State: string (nullable = true)
 |-- Recipient_Zip_Code: string (nullable = true)
 |-- Recipient_Country: string (nullable = true)
 |-- Recipient_Province: string (nullable = true)
 |-- Recipient_Postal_Code: string (nullable = true)
 |-- Physician_Primary_Type: string (nullable = true)
 |-- Physician_Specialty: string (nullable = true)
 |-- Record_ID: integer (nullable = true)
 |-- Program_Year: integer (nullable = true)
 |-- Total_Amount_Invested_USDollars: double (nullable = true)
 |-- Value_of_Interest: double (nullable = true)
 |-- Terms_of_Interest: string (nullable = true)
 |-- Submitting_Applicable_Manufacturer_or_Applicable_GPO_Name: string (nullable = true)
 |-- Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_ID: long (nullable = true)
 |-- Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Name: string (nullable = true)
 |-- Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_State: string (nullable = true)
 |-- Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Country: string (nullable = true)
 |-- Dispute_Status_for_Publication: string (nullable = true)
 |-- Interest_Held_by_Physician_or_an_Immediate_Family_Member: string (nullable = true)
 |-- Payment_Publication_Date: string (nullable = true)

In [78]:
pds_df = pds.select(
    col("Physician_First_Name").alias("first_name"),
    col("Physician_Last_Name").alias("last_name"),
    col("Recipient_State").alias("state"),
    col("Recipient_City").alias("city"),
    col("Total_Amount_Invested_USDollars").alias("total_amount_of_payment_usd")
)

pds_df.show()

+----------+----------+-----+----------------+---------------------------+
|first_name| last_name|state|            city|total_amount_of_payment_usd|
+----------+----------+-----+----------------+---------------------------+
|     Faith|    Brosch|   DE|          NEWARK|                        0.0|
|      Troy|  Brothers|   FL|          Naples|                        0.0|
|      Anne|     Brown|   VA|        Leesburg|                        0.0|
|     David|     Brown|   FL|      FORT MYERS|                        0.0|
|    Ingrid|     Brown|   TX|      Round Rock|                        0.0|
|     Kevin|     Brown|   TX|      Round Rock|                        0.0|
|    Steven|     Brown|   FL|      Palm Coast|                        0.0|
|   Michael|   Buckley|   NC|         Raleigh|                        0.0|
|  Christin|Richardson|   NC|         Raleigh|                        0.0|
|     Kathy|Richardson|   NC|      Greensboro|                        0.0|
|    Kellyn|    Rielly|   TX|   The Woodlands|                        0.0|
|    Sandra|    Rivard|   NC|      Greensboro|                        0.0|
|    Laurie|   Robbins|   GA|        Marietta|                        0.0|
|      Sara|    Robert|   TX|        MCKINNEY|                        0.0|
|      John|   Roberts|   TX|           PLANO|                        0.0|
|    Angela|   Roberts|   NC|      Greensboro|                        0.0|
|    Herman|   Epstein|   FL|Lauderdale Lakes|                        0.0|
|     Laura|    Erdman|   MD|          Towson|                        0.0|
|  Jennifer|   Everson|   TX|          Conroe|                        0.0|
|      Mary|  Facciolo|   MD|          Towson|                        0.0|
+----------+----------+-----+----------------+---------------------------+
only showing top 20 rows

In [82]:
pds_df1 = (pds_df
           .groupBy('first_name', 'last_name', 'state', 'city')
           .agg(F.sum('total_amount_of_payment_usd').alias('sum_total_amount_of_payment_usd'))
           .withColumn('total_amount_of_payment_usd', F.col('sum_total_amount_of_payment_usd').cast('float')))

# Show the result
pds_df1.show()

+-----------+----------+-----+---------------+-------------------------------+---------------------------+
| first_name| last_name|state|           city|sum_total_amount_of_payment_usd|total_amount_of_payment_usd|
+-----------+----------+-----+---------------+-------------------------------+---------------------------+
|       Mary|   Goodwin|   NC|      Asheville|                            0.0|                        0.0|
|Christopher|      Ames|   CA|  SAN FRANCISCO|                            0.0|                        0.0|
|   Rajeshri|     Patel|   NY|     Long Beach|                        38348.0|                    38348.0|
|     George|    Ferzli|   NY|  Staten Island|                        70000.0|                    70000.0|
|    Michael| Ziebelman|   FL|   Winter Haven|                            0.0|                        0.0|
|    STEPHEN|     RAMEE|   LA|    NEW ORLEANS|                            0.0|                        0.0|
|       JOHN|    VUKICH|   WI|      WAUWATOSA|                      106911.73|                  106911.73|
|    WILLIAM|     WILEY|   OH|      CLEVELAND|                            0.0|                        0.0|
|      DAVID|   STEWART|   OH|        GAHANNA|                         526.15|                     526.15|
|       Gary|      Heit|   CA|   Redwood City|                         1400.0|                     1400.0|
|    Timothy|   Trainor|   LA|        SLIDELL|                         446.41|                     446.41|
|     ROBERT|      WONG|   TX|         AUSTIN|                            0.0|                        0.0|
|      James|    Cottom|   FL|       Sarosota|                        25000.0|                    25000.0|
|  Jean-Paul|      Tran|   FL|         Oxford|                            0.0|                        0.0|
|     EDWARD|     PEREZ|   MS|      SOUTHAVEN|                       155768.0|                   155768.0|
|    Abhinav|   Chhabra|   VA|Charlottesville|                            0.0|                        0.0|
|         Yu|       Lee|   TX|          Plano|                            0.0|                        0.0|
|     Harvey|  Friedman|   NJ|      Englewood|                            0.0|                        0.0|
|       JACK|    ZIGLER|   TX|          PLANO|                            0.0|                        0.0|
|     Carlos|Valladares|   NV|      Las Vegas|                            0.0|                        0.0|
+-----------+----------+-----+---------------+-------------------------------+---------------------------+
only showing top 20 rows

In [83]:
# Convert all string columns to uppercase
for col_name in pds_df1.columns:
    # Check if the column type is string
    if isinstance(pds_df1.schema[col_name].dataType, StringType):
        pds_df1 = pds_df1.withColumn(col_name, F.upper(F.col(col_name)))

# Show the result
pds_df1.show()

+-----------+----------+-----+---------------+-------------------------------+---------------------------+
| first_name| last_name|state|           city|sum_total_amount_of_payment_usd|total_amount_of_payment_usd|
+-----------+----------+-----+---------------+-------------------------------+---------------------------+
|       MARY|   GOODWIN|   NC|      ASHEVILLE|                            0.0|                        0.0|
|CHRISTOPHER|      AMES|   CA|  SAN FRANCISCO|                            0.0|                        0.0|
|   RAJESHRI|     PATEL|   NY|     LONG BEACH|                        38348.0|                    38348.0|
|     GEORGE|    FERZLI|   NY|  STATEN ISLAND|                        70000.0|                    70000.0|
|    MICHAEL| ZIEBELMAN|   FL|   WINTER HAVEN|                            0.0|                        0.0|
|    STEPHEN|     RAMEE|   LA|    NEW ORLEANS|                            0.0|                        0.0|
|       JOHN|    VUKICH|   WI|      WAUWATOSA|                      106911.73|                  106911.73|
|    WILLIAM|     WILEY|   OH|      CLEVELAND|                            0.0|                        0.0|
|      DAVID|   STEWART|   OH|        GAHANNA|                         526.15|                     526.15|
|       GARY|      HEIT|   CA|   REDWOOD CITY|                         1400.0|                     1400.0|
|    TIMOTHY|   TRAINOR|   LA|        SLIDELL|                         446.41|                     446.41|
|     ROBERT|      WONG|   TX|         AUSTIN|                            0.0|                        0.0|
|      JAMES|    COTTOM|   FL|       SAROSOTA|                        25000.0|                    25000.0|
|  JEAN-PAUL|      TRAN|   FL|         OXFORD|                            0.0|                        0.0|
|     EDWARD|     PEREZ|   MS|      SOUTHAVEN|                       155768.0|                   155768.0|
|    ABHINAV|   CHHABRA|   VA|CHARLOTTESVILLE|                            0.0|                        0.0|
|         YU|       LEE|   TX|          PLANO|                            0.0|                        0.0|
|     HARVEY|  FRIEDMAN|   NJ|      ENGLEWOOD|                            0.0|                        0.0|
|       JACK|    ZIGLER|   TX|          PLANO|                            0.0|                        0.0|
|     CARLOS|VALLADARES|   NV|      LAS VEGAS|                            0.0|                        0.0|
+-----------+----------+-----+---------------+-------------------------------+---------------------------+
only showing top 20 rows

In [85]:
pay_part_d_fpd = part_d_all_pd.join(pds_df1, on=['last_name', 'first_name', 'city', 'state'], how='left')

# Show the result
pay_part_d_fpd.show()

+--------------+----------+--------------+-----+------------+-------------------+--------------------+-------------------+---------------------+----------------------+---------------------+--------------------+---------------------+--------------------+--------------------+-------------------------------+---------------------------+
|     last_name|first_name|          city|state|         npi|sum_total_drug_cost|mean_total_drug_cost|max_total_drug_cost|sum_total_claim_count|mean_total_claim_count|max_total_claim_count|sum_total_day_supply|mean_total_day_supply|max_total_day_supply|           specialty|sum_total_amount_of_payment_usd|total_amount_of_payment_usd|
+--------------+----------+--------------+-----+------------+-------------------+--------------------+-------------------+---------------------+----------------------+---------------------+--------------------+---------------------+--------------------+--------------------+-------------------------------+---------------------------+
|        Tindoc|  Lorelane|Pompton Plains|   NJ| 1.0030124E9|             577.08|              288.54|             373.53|                 70.0|                  35.0|                 39.0|               478.0|                239.0|               283.0|     Family Practice|                           NULL|                       NULL|
|   Chittaphong|       Lam|     San Diego|   CA| 1.0030124E9|             577.08|              288.54|             373.53|                 70.0|                  35.0|                 39.0|               478.0|                239.0|               283.0|             Dentist|                           NULL|                       NULL|
|         Patel|     Viral|    Crittenden|   KY| 1.0030124E9|             577.08|              288.54|             373.53|                 70.0|                  35.0|                 39.0|               478.0|                239.0|               283.0|     Family Practice|                           NULL|                       NULL|
|      Musgrave|     Ethan|    Cincinnati|   OH|1.00302304E9|            1156.66|             289.165|             481.15|                231.0|                 57.75|                116.0|              1321.0|               330.25|               816.0|     Neuropsychiatry|                           NULL|                       NULL|
|      Kasahara|  Takehiro|      New York|   NY|1.00302304E9|            1156.66|             289.165|             481.15|                231.0|                 57.75|                116.0|              1321.0|               330.25|               816.0|Oral Surgery (Den...|                           NULL|                       NULL|
|      Khonsary| Seyed Ali|    South Gate|   CA|1.00302445E9|             116.89|              58.445|              87.57|                 36.0|                  18.0|                 20.0|               664.0|                332.0|               480.0|    Nuclear Medicine|                           NULL|                       NULL|
|       Trenkle|  Geoffrey|   Los Angeles|   CA|1.00304486E9|             296.23|              296.23|             296.23|                 27.0|                  27.0|                 27.0|               208.0|                208.0|               208.0|      Otolaryngology|                           NULL|                       NULL|
|    Khorasanee|Jacqueline|       Chicago|   IL|1.00304486E9|             296.23|              296.23|             296.23|                 27.0|                  27.0|                 27.0|               208.0|                208.0|               208.0|  Emergency Medicine|                           NULL|                       NULL|
|         Chase|    Rachel|        Camden|   NJ|1.00304486E9|             296.23|              296.23|             296.23|                 27.0|                  27.0|                 27.0|               208.0|                208.0|               208.0|  Emergency Medicine|                           NULL|                       NULL|
|Jimenez-Tosado|     Zahir|    Woodbridge|   VA|1.00305856E9|          787805.44|            41463.44|          549919.56|               2828.0|              148.8421|               1071.0|            177261.0|             9329.526|             78262.0|     Family Practice|                           NULL|                       NULL|
|        Kieley|    Samuel|      Woodbury|   MN|1.00305856E9|          787805.44|            41463.44|          549919.56|               2828.0|              148.8421|               1071.0|            177261.0|             9329.526|             78262.0|             Urology|                           NULL|                       NULL|
|    Srivastava|     Dipti|        Auburn|   WA|1.00306285E9|             250.07|            83.35667|             111.04|                 61.0|             20.333334|                 26.0|               615.0|                205.0|               343.0|             Dentist|                           NULL|                       NULL|
|     Rios Sola|    Miguel|        Caguas|   PR|1.00306285E9|             250.07|            83.35667|             111.04|                 61.0|             20.333334|                 26.0|               615.0|                205.0|               343.0|    General Practice|                           NULL|                       NULL|
|        Turner|     Josef|    Pittsburgh|   PA| 1.0030655E9|            1736.81|           289.46832|             624.62|                152.0|             25.333334|                 36.0|               946.0|            157.66667|               246.0|  Emergency Medicine|                           NULL|                       NULL|
|        Tinson|      Faye|   Tallahassee|   FL|1.00307014E9|          168403.05|           2760.7058|           20900.79|               2228.0|              36.52459|                183.0|            128106.0|            2100.0984|             11415.0|  Nurse Practitioner|                           NULL|                       NULL|
|      Ahmadian|  Homayoun|    Germantown|   TN|1.00307014E9|          168403.05|           2760.7058|           20900.79|               2228.0|              36.52459|                183.0|            128106.0|            2100.0984|             11415.0|          Cardiology|                           NULL|                       NULL|
|         Beard|      Mark|       Detroit|   MI| 1.0030707E9|            1540.37|           220.05286|             453.67|                257.0|             36.714287|                101.0|              1894.0|            270.57144|               556.0|     Family Practice|                           NULL|                       NULL|
|        Wright|    Justin|     Corsicana|   TX| 1.0030707E9|            1540.37|           220.05286|             453.67|                257.0|             36.714287|                101.0|              1894.0|            270.57144|               556.0|             Dentist|                           NULL|                       NULL|
|      Sedlacek|    Robert|       Merrill|   WI| 1.0030727E9|          237329.38|           2282.0132|           87333.15|               3932.0|             37.807693|                183.0|            164374.0|            1580.5193|             10351.0|     Family Practice|                           NULL|                       NULL|
|         Weiss|    George|      La Jolla|   CA| 1.0030737E9|            4320.14|           332.31845|             1228.1|                380.0|              29.23077|                120.0|              3080.0|            236.92308|               662.0|    General Practice|                           NULL|                       NULL|
+--------------+----------+--------------+-----+------------+-------------------+--------------------+-------------------+---------------------+----------------------+---------------------+--------------------+---------------------+--------------------+--------------------+-------------------------------+---------------------------+
only showing top 20 rows

In [ ]:
pay_part_d_fpd.count()