In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.types import StringType

from pyspark.sql.functions import col, sum, round, countDistinct, max, variance, log10

from pyspark.ml.classification import RandomForestClassifier, LogisticRegression, NaiveBayes
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.ml.feature import VectorAssembler, StandardScaler
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator
from pyspark.ml.clustering import KMeans
from pyspark.sql.functions import lit
from pyspark.ml.feature import OneHotEncoder, StringIndexer, VectorAssembler, StandardScaler
from pyspark.ml import Pipeline
from pyspark.ml.evaluation import BinaryClassificationEvaluator

In [2]:
# Initialize Spark Session
spark = SparkSession.builder.appName("HealthCareModel").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/12/11 01:05:36 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
part_d_data_path = "../DataSet/Prescribers - by Provider and Drug/MUP_DPR_RY23_P04_V10_DY21_NPIBN.csv"
df = spark.read.csv(part_d_data_path, header=True, inferSchema=True)

23/12/11 01:05:47 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [4]:
df.printSchema()

root
 |-- Prscrbr_NPI: integer (nullable = true)
 |-- Prscrbr_Last_Org_Name: string (nullable = true)
 |-- Prscrbr_First_Name: string (nullable = true)
 |-- Prscrbr_City: string (nullable = true)
 |-- Prscrbr_State_Abrvtn: string (nullable = true)
 |-- Prscrbr_State_FIPS: string (nullable = true)
 |-- Prscrbr_Type: string (nullable = true)
 |-- Prscrbr_Type_Src: string (nullable = true)
 |-- Brnd_Name: string (nullable = true)
 |-- Gnrc_Name: string (nullable = true)
 |-- Tot_Clms: integer (nullable = true)
 |-- Tot_30day_Fills: double (nullable = true)
 |-- Tot_Day_Suply: integer (nullable = true)
 |-- Tot_Drug_Cst: double (nullable = true)
 |-- Tot_Benes: integer (nullable = true)
 |-- GE65_Sprsn_Flag: string (nullable = true)
 |-- GE65_Tot_Clms: integer (nullable = true)
 |-- GE65_Tot_30day_Fills: double (nullable = true)
 |-- GE65_Tot_Drug_Cst: double (nullable = true)
 |-- GE65_Tot_Day_Suply: integer (nullable = true)
 |-- GE65_Bene_Sprsn_Flag: string (nullable = true)
 |-- GE65_Tot_Benes: integer (nullable = true)

In [5]:
part_d_data_t = df.select(
    col("Prscrbr_NPI").alias("npi"),
    col("Prscrbr_City").alias("city"),
    col("Prscrbr_State_Abrvtn").alias("state"),
    col("Prscrbr_Last_Org_Name").alias("last_name"),
    col("Prscrbr_First_Name").alias("first_name"),
    col("Prscrbr_Type").alias("specialty"),
    col("Brnd_Name").alias("drug_name"),
    col("Gnrc_Name").alias("generic_name"),
    col("Tot_Drug_Cst").alias("total_drug_cost"),
    col("Tot_Clms").alias("total_claim_count"),
    col("Tot_Day_Suply").alias("total_day_supply")
)

In [6]:
# Step 1: Assign one DataFrame to another
part_d_pd1 = part_d_data_t

# Step 2: Select specific columns
part_d_drug_df = part_d_data_t.select("npi", "drug_name", "total_drug_cost", "total_claim_count", "total_day_supply", "specialty")

# Step 3: Change the data type of 'npi' to StringType
part_d_drug_df = part_d_drug_df.withColumn("npi", col("npi").cast(StringType()))

# Step 4: Select specific columns from another DataFrame
part_d_spec_df1 = part_d_data_t.select("npi", "specialty")

# Step 5: Show the first few rows (equivalent to head(0) in Pandas)
part_d_spec_df1.show()
part_d_drug_df.show()

+----------+-----------------+
|       npi|        specialty|
+----------+-----------------+
|1003000126|Internal Medicine|
|1003000126|Internal Medicine|
|1003000126|Internal Medicine|
|1003000126|Internal Medicine|
|1003000126|Internal Medicine|
|1003000126|Internal Medicine|
|1003000126|Internal Medicine|
|1003000126|Internal Medicine|
|1003000126|Internal Medicine|
|1003000126|Internal Medicine|
|1003000126|Internal Medicine|
|1003000126|Internal Medicine|
|1003000126|Internal Medicine|
|1003000126|Internal Medicine|
|1003000126|Internal Medicine|
|1003000126|Internal Medicine|
|1003000126|Internal Medicine|
|1003000126|Internal Medicine|
|1003000126|Internal Medicine|
|1003000126|Internal Medicine|
+----------+-----------------+
only showing top 20 rows

+----------+--------------------+---------------+-----------------+----------------+-----------------+
|       npi|           drug_name|total_drug_cost|total_claim_count|total_day_supply|        specialty|
+----------+--------------------+---------------+-----------------+----------------+-----------------+
|1003000126|  Alendronate Sodium|         125.28|               11|             930|Internal Medicine|
|1003000126| Amlodipine Besylate|         812.86|               64|            5311|Internal Medicine|
|1003000126|            Atenolol|         220.84|               12|            1080|Internal Medicine|
|1003000126|Atorvastatin Calcium|         825.26|               46|            3660|Internal Medicine|
|1003000126|            Cefdinir|          175.5|               11|              89|Internal Medicine|
|1003000126|         Clopidogrel|         128.02|               14|             960|Internal Medicine|
|1003000126|             Eliquis|        7150.87|               15|             422|Internal Medicine|
|1003000126|Escitalopram Oxalate|         703.42|               30|            2013|Internal Medicine|
|1003000126|         Finasteride|         526.76|               19|            1710|Internal Medicine|
|1003000126|          Furosemide|         158.74|               20|            1003|Internal Medicine|
|1003000126|          Gabapentin|          222.0|               13|             720|Internal Medicine|
|1003000126|        Glipizide Er|         354.79|               18|            1500|Internal Medicine|
|1003000126|     Hydralazine Hcl|          358.6|               31|            2180|Internal Medicine|
|1003000126| Hydrochlorothiazide|         121.52|               26|            2043|Internal Medicine|
|1003000126|Isosorbide Mononi...|          246.5|               11|             870|Internal Medicine|
|1003000126|             Januvia|       18816.27|               14|            1080|Internal Medicine|
|1003000126|Levothyroxine Sodium|         747.17|               30|            2384|Internal Medicine|
|1003000126|          Lisinopril|         239.14|               23|            1710|Internal Medicine|
|1003000126|  Losartan Potassium|        1125.87|               52|            4560|Internal Medicine|
|1003000126|       Metformin Hcl|         269.62|               32|            2677|Internal Medicine|
+----------+--------------------+---------------+-----------------+----------------+-----------------+
only showing top 20 rows

In [7]:
part_d_pd2 = part_d_data_t.select('npi',
                                  'city',
                                  'state',
                                  'last_name',
                                  'first_name',
                                  'specialty')

part_d_pd2.show()

+----------+--------+-----+---------+----------+-----------------+
|       npi|    city|state|last_name|first_name|        specialty|
+----------+--------+-----+---------+----------+-----------------+
|1003000126|Bethesda|   MD|Enkeshafi|   Ardalan|Internal Medicine|
|1003000126|Bethesda|   MD|Enkeshafi|   Ardalan|Internal Medicine|
|1003000126|Bethesda|   MD|Enkeshafi|   Ardalan|Internal Medicine|
|1003000126|Bethesda|   MD|Enkeshafi|   Ardalan|Internal Medicine|
|1003000126|Bethesda|   MD|Enkeshafi|   Ardalan|Internal Medicine|
|1003000126|Bethesda|   MD|Enkeshafi|   Ardalan|Internal Medicine|
|1003000126|Bethesda|   MD|Enkeshafi|   Ardalan|Internal Medicine|
|1003000126|Bethesda|   MD|Enkeshafi|   Ardalan|Internal Medicine|
|1003000126|Bethesda|   MD|Enkeshafi|   Ardalan|Internal Medicine|
|1003000126|Bethesda|   MD|Enkeshafi|   Ardalan|Internal Medicine|
|1003000126|Bethesda|   MD|Enkeshafi|   Ardalan|Internal Medicine|
|1003000126|Bethesda|   MD|Enkeshafi|   Ardalan|Internal Medicine|
|1003000126|Bethesda|   MD|Enkeshafi|   Ardalan|Internal Medicine|
|1003000126|Bethesda|   MD|Enkeshafi|   Ardalan|Internal Medicine|
|1003000126|Bethesda|   MD|Enkeshafi|   Ardalan|Internal Medicine|
|1003000126|Bethesda|   MD|Enkeshafi|   Ardalan|Internal Medicine|
|1003000126|Bethesda|   MD|Enkeshafi|   Ardalan|Internal Medicine|
|1003000126|Bethesda|   MD|Enkeshafi|   Ardalan|Internal Medicine|
|1003000126|Bethesda|   MD|Enkeshafi|   Ardalan|Internal Medicine|
|1003000126|Bethesda|   MD|Enkeshafi|   Ardalan|Internal Medicine|
+----------+--------+-----+---------+----------+-----------------+
only showing top 20 rows

In [8]:
part_d_pd_u = part_d_pd2.dropDuplicates()

# Show the result
part_d_pd_u.show()

+----------+-------------+-----+---------+----------+-------------------+
|       npi|         city|state|last_name|first_name|          specialty|
+----------+-------------+-----+---------+----------+-------------------+
|1003028002|      Durango|   CO|   Haynes|      Kent|            Dentist|
|1003041476|     Oak Park|   IL| Lindgren|     Kevin|Allergy/ Immunology|
|1003043555|   Washington|   PA|  Orlosky|     Julie|    Family Practice|
|1003046939|      Spencer|   IA|  Heckert|     Kathi| Nurse Practitioner|
|1003055781|     Hartford|   CT|     Rice|     Jenny|Physician Assistant|
|1003064825|        Parma|   OH| Phillips|    Cherie|   Vascular Surgery|
|1003091539|    Fullerton|   CA|      Woo|      Kiho|  Internal Medicine|
|1003095167|      El Paso|   IL|    Tyner|Jean-Marie| Nurse Practitioner|
|1003101932|   Cumberland|   MD|     Hong|     Feiyu|  Internal Medicine|
|1003119009|     Bellevue|   WA|  Swenson|   Jessica| Nurse Practitioner|
|1003127002|       Laredo|   TX|  Ramirez|     Jorge|            Urology|
|1003186644|       Auburn|   CA|  Ciobanu|      Dana|  Internal Medicine|
|1003218280|    Mc Murray|   PA|   Bowman|  Jennifer| Nurse Practitioner|
|1003220062| Philadelphia|   PA| Thompson|    Taylor|Physician Assistant|
|1003226069|   Loganville|   GA|    Naidu|    Gopika| Nurse Practitioner|
|1003228727|   Santa Cruz|   CA|  Eisberg|    Carrie|    Family Practice|
|1003234378|     Danville|   PA|  Bernett|      John| Emergency Medicine|
|1003248105|Mission Hills|   CA|  Tahoori|     Armin|  Internal Medicine|
|1003262668|       Austin|   MN|      Mir|      Izza|  Internal Medicine|
|1003297581|      Medford|   WI|   Werner|   Gregory|Physician Assistant|
+----------+-------------+-----+---------+----------+-------------------+
only showing top 20 rows

In [9]:
group_cols = ['npi']

part_d_pd3 = (part_d_pd1.groupBy(group_cols)
             .agg(
                 F.sum("total_drug_cost").alias("sum_total_drug_cost"),
                 F.mean("total_drug_cost").alias("mean_total_drug_cost"),
                 F.max("total_drug_cost").alias("max_total_drug_cost"),
                 F.sum("total_claim_count").alias("sum_total_claim_count"),
                 F.mean("total_claim_count").alias("mean_total_claim_count"),
                 F.max("total_claim_count").alias("max_total_claim_count"),
                 F.sum("total_day_supply").alias("sum_total_day_supply"),
                 F.mean("total_day_supply").alias("mean_total_day_supply"),
                 F.max("total_day_supply").alias("max_total_day_supply")
             ))

# Cast to float if necessary (optional)
for col_name in part_d_pd3.columns:
    part_d_pd3 = part_d_pd3.withColumn(col_name, F.col(col_name).cast("float"))

# Show the result
part_d_pd3.show()

+------------+-------------------+--------------------+-------------------+---------------------+----------------------+---------------------+--------------------+---------------------+--------------------+
|         npi|sum_total_drug_cost|mean_total_drug_cost|max_total_drug_cost|sum_total_claim_count|mean_total_claim_count|max_total_claim_count|sum_total_day_supply|mean_total_day_supply|max_total_day_supply|
+------------+-------------------+--------------------+-------------------+---------------------+----------------------+---------------------+--------------------+---------------------+--------------------+
| 1.0030432E9|           18613.12|             930.656|            7077.18|                355.0|                 17.75|                 44.0|             21040.0|               1052.0|              3000.0|
|1.00307283E9|          282157.47|           3399.4878|           45438.26|               4100.0|              49.39759|                244.0|            203448.0|            2451.1807|             12151.0|
|1.00310195E9|               73.2|                73.2|               73.2|                 12.0|                  12.0|                 12.0|               360.0|                360.0|               360.0|
|1.00311366E9|           479970.3|           11162.101|          235380.25|               3985.0|             92.674416|                521.0|            260880.0|            6066.9766|             35095.0|
| 1.0031264E9|             541.05|            135.2625|             275.58|                158.0|                  39.5|                118.0|               796.0|                199.0|               582.0|
|1.00314694E9|           273019.0|            9750.679|           86790.29|               1114.0|             39.785713|                248.0|             47007.0|            1678.8214|              7335.0|
|1.00314886E9|            32623.4|             16311.7|           20481.13|                 39.0|                  19.5|                 25.0|              1410.0|                705.0|               990.0|
| 1.0031605E9|             189.17|              189.17|             189.17|                 13.0|                  13.0|                 13.0|               321.0|                321.0|               321.0|
| 1.0031639E9|           29274.11|           2661.2827|           14106.35|                313.0|             28.454546|                 69.0|             28407.0|            2582.4546|              6200.0|
|  1.003164E9|            4440.57|             888.114|            1870.65|                160.0|                  32.0|                 65.0|              5752.0|               1150.4|              2498.0|
|1.00316416E9|               31.4|                31.4|               31.4|                 15.0|                  15.0|                 15.0|                81.0|                 81.0|                81.0|
| 1.0031663E9|             133.79|              66.895|              73.46|                 47.0|                  23.5|                 28.0|               248.0|                124.0|               196.0|
| 1.0031798E9|           282452.4|           13450.115|          111328.11|                806.0|              38.38095|                133.0|             43594.0|            2075.9048|              9358.0|
| 1.0031976E9|              239.6|               239.6|              239.6|                 17.0|                  17.0|                 17.0|               480.0|                480.0|               480.0|
| 1.0032014E9|               57.4|                57.4|               57.4|                 11.0|                  11.0|                 11.0|                77.0|                 77.0|                77.0|
|1.00321683E9|          511219.62|            9831.146|          102390.27|               2785.0|             53.557693|                184.0|             88506.0|            1702.0385|              6660.0|
|1.00322816E9|            7052.19|           1763.0475|            6376.26|                 75.0|                 18.75|                 26.0|              3990.0|                997.5|              1740.0|
|1.00324544E9|           49803.06|            4527.551|           39861.49|                146.0|             13.272727|                 21.0|              6645.0|             604.0909|              1470.0|
|1.00324704E9|            6307.04|             6307.04|            6307.04|                 34.0|                  34.0|                 34.0|                34.0|                 34.0|                34.0|
| 1.0032762E9|             240.78|               80.26|             140.02|                 55.0|             18.333334|                 26.0|               300.0|                100.0|               179.0|
+------------+-------------------+--------------------+-------------------+---------------------+----------------------+---------------------+--------------------+---------------------+--------------------+
only showing top 20 rows

In [10]:
part_d_pd3.count()

1017417

In [11]:
part_d_all_pd = part_d_pd3.join(part_d_pd_u, on='npi', how='left')

# Show the result
part_d_all_pd.show()

+------------+-------------------+--------------------+-------------------+---------------------+----------------------+---------------------+--------------------+---------------------+--------------------+--------------+-----+--------------+----------+--------------------+
|         npi|sum_total_drug_cost|mean_total_drug_cost|max_total_drug_cost|sum_total_claim_count|mean_total_claim_count|max_total_claim_count|sum_total_day_supply|mean_total_day_supply|max_total_day_supply|          city|state|     last_name|first_name|           specialty|
+------------+-------------------+--------------------+-------------------+---------------------+----------------------+---------------------+--------------------+---------------------+--------------------+--------------+-----+--------------+----------+--------------------+
| 1.0030124E9|             577.08|              288.54|             373.53|                 70.0|                  35.0|                 39.0|               478.0|                239.0|               283.0|Pompton Plains|   NJ|        Tindoc|  Lorelane|     Family Practice|
| 1.0030124E9|             577.08|              288.54|             373.53|                 70.0|                  35.0|                 39.0|               478.0|                239.0|               283.0|     San Diego|   CA|   Chittaphong|       Lam|             Dentist|
| 1.0030124E9|             577.08|              288.54|             373.53|                 70.0|                  35.0|                 39.0|               478.0|                239.0|               283.0|    Crittenden|   KY|         Patel|     Viral|     Family Practice|
|1.00302304E9|            1156.66|             289.165|             481.15|                231.0|                 57.75|                116.0|              1321.0|               330.25|               816.0|    Cincinnati|   OH|      Musgrave|     Ethan|     Neuropsychiatry|
|1.00302304E9|            1156.66|             289.165|             481.15|                231.0|                 57.75|                116.0|              1321.0|               330.25|               816.0|      New York|   NY|      Kasahara|  Takehiro|Oral Surgery (Den...|
|1.00302445E9|             116.89|              58.445|              87.57|                 36.0|                  18.0|                 20.0|               664.0|                332.0|               480.0|    South Gate|   CA|      Khonsary| Seyed Ali|    Nuclear Medicine|
|1.00304486E9|             296.23|              296.23|             296.23|                 27.0|                  27.0|                 27.0|               208.0|                208.0|               208.0|   Los Angeles|   CA|       Trenkle|  Geoffrey|      Otolaryngology|
|1.00304486E9|             296.23|              296.23|             296.23|                 27.0|                  27.0|                 27.0|               208.0|                208.0|               208.0|       Chicago|   IL|    Khorasanee|Jacqueline|  Emergency Medicine|
|1.00304486E9|             296.23|              296.23|             296.23|                 27.0|                  27.0|                 27.0|               208.0|                208.0|               208.0|        Camden|   NJ|         Chase|    Rachel|  Emergency Medicine|
|1.00305856E9|          787805.44|            41463.44|          549919.56|               2828.0|              148.8421|               1071.0|            177261.0|             9329.526|             78262.0|    Woodbridge|   VA|Jimenez-Tosado|     Zahir|     Family Practice|
|1.00305856E9|          787805.44|            41463.44|          549919.56|               2828.0|              148.8421|               1071.0|            177261.0|             9329.526|             78262.0|      Woodbury|   MN|        Kieley|    Samuel|             Urology|
|1.00306285E9|             250.07|            83.35667|             111.04|                 61.0|             20.333334|                 26.0|               615.0|                205.0|               343.0|        Auburn|   WA|    Srivastava|     Dipti|             Dentist|
|1.00306285E9|             250.07|            83.35667|             111.04|                 61.0|             20.333334|                 26.0|               615.0|                205.0|               343.0|        Caguas|   PR|     Rios Sola|    Miguel|    General Practice|
| 1.0030655E9|            1736.81|           289.46832|             624.62|                152.0|             25.333334|                 36.0|               946.0|            157.66667|               246.0|    Pittsburgh|   PA|        Turner|     Josef|  Emergency Medicine|
|1.00307014E9|          168403.05|           2760.7058|           20900.79|               2228.0|              36.52459|                183.0|            128106.0|            2100.0984|             11415.0|   Tallahassee|   FL|        Tinson|      Faye|  Nurse Practitioner|
|1.00307014E9|          168403.05|           2760.7058|           20900.79|               2228.0|              36.52459|                183.0|            128106.0|            2100.0984|             11415.0|    Germantown|   TN|      Ahmadian|  Homayoun|          Cardiology|
| 1.0030707E9|            1540.37|           220.05286|             453.67|                257.0|             36.714287|                101.0|              1894.0|            270.57144|               556.0|       Detroit|   MI|         Beard|      Mark|     Family Practice|
| 1.0030707E9|            1540.37|           220.05286|             453.67|                257.0|             36.714287|                101.0|              1894.0|            270.57144|               556.0|     Corsicana|   TX|        Wright|    Justin|             Dentist|
| 1.0030727E9|          237329.38|           2282.0132|           87333.15|               3932.0|             37.807693|                183.0|            164374.0|            1580.5193|             10351.0|       Merrill|   WI|      Sedlacek|    Robert|     Family Practice|
| 1.0030737E9|            4320.14|           332.31845|             1228.1|                380.0|              29.23077|                120.0|              3080.0|            236.92308|               662.0|      La Jolla|   CA|         Weiss|    George|    General Practice|
+------------+-------------------+--------------------+-------------------+---------------------+----------------------+---------------------+--------------------+---------------------+--------------------+--------------+-----+--------------+----------+--------------------+
only showing top 20 rows

In [12]:
payment_data_path="../DataSet/PaymentDataSet/OP_DTL_OWNRSHP_PGYR2021_P06302023.csv"
pds = spark.read.csv(payment_data_path, header=True, inferSchema=True)

In [13]:
pds.printSchema()

root
 |-- Change_Type: string (nullable = true)
 |-- Physician_Profile_ID: integer (nullable = true)
 |-- Physician_NPI: integer (nullable = true)
 |-- Physician_First_Name: string (nullable = true)
 |-- Physician_Middle_Name: string (nullable = true)
 |-- Physician_Last_Name: string (nullable = true)
 |-- Physician_Name_Suffix: string (nullable = true)
 |-- Recipient_Primary_Business_Street_Address_Line1: string (nullable = true)
 |-- Recipient_Primary_Business_Street_Address_Line2: string (nullable = true)
 |-- Recipient_City: string (nullable = true)
 |-- Recipient_State: string (nullable = true)
 |-- Recipient_Zip_Code: string (nullable = true)
 |-- Recipient_Country: string (nullable = true)
 |-- Recipient_Province: string (nullable = true)
 |-- Recipient_Postal_Code: string (nullable = true)
 |-- Physician_Primary_Type: string (nullable = true)
 |-- Physician_Specialty: string (nullable = true)
 |-- Record_ID: integer (nullable = true)
 |-- Program_Year: integer (nullable = true)
 |-- Total_Amount_Invested_USDollars: double (nullable = true)
 |-- Value_of_Interest: double (nullable = true)
 |-- Terms_of_Interest: string (nullable = true)
 |-- Submitting_Applicable_Manufacturer_or_Applicable_GPO_Name: string (nullable = true)
 |-- Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_ID: long (nullable = true)
 |-- Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Name: string (nullable = true)
 |-- Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_State: string (nullable = true)
 |-- Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Country: string (nullable = true)
 |-- Dispute_Status_for_Publication: string (nullable = true)
 |-- Interest_Held_by_Physician_or_an_Immediate_Family_Member: string (nullable = true)
 |-- Payment_Publication_Date: string (nullable = true)

In [14]:
pds_df = pds.select(
    col("Physician_First_Name").alias("first_name"),
    col("Physician_Last_Name").alias("last_name"),
    col("Recipient_State").alias("state"),
    col("Recipient_City").alias("city"),
    col("Total_Amount_Invested_USDollars").alias("total_amount_of_payment_usd")
)

pds_df.show()

+----------+----------+-----+----------------+---------------------------+
|first_name| last_name|state|            city|total_amount_of_payment_usd|
+----------+----------+-----+----------------+---------------------------+
|     Faith|    Brosch|   DE|          NEWARK|                        0.0|
|      Troy|  Brothers|   FL|          Naples|                        0.0|
|      Anne|     Brown|   VA|        Leesburg|                        0.0|
|     David|     Brown|   FL|      FORT MYERS|                        0.0|
|    Ingrid|     Brown|   TX|      Round Rock|                        0.0|
|     Kevin|     Brown|   TX|      Round Rock|                        0.0|
|    Steven|     Brown|   FL|      Palm Coast|                        0.0|
|   Michael|   Buckley|   NC|         Raleigh|                        0.0|
|  Christin|Richardson|   NC|         Raleigh|                        0.0|
|     Kathy|Richardson|   NC|      Greensboro|                        0.0|
|    Kellyn|    Rielly|   TX|   The Woodlands|                        0.0|
|    Sandra|    Rivard|   NC|      Greensboro|                        0.0|
|    Laurie|   Robbins|   GA|        Marietta|                        0.0|
|      Sara|    Robert|   TX|        MCKINNEY|                        0.0|
|      John|   Roberts|   TX|           PLANO|                        0.0|
|    Angela|   Roberts|   NC|      Greensboro|                        0.0|
|    Herman|   Epstein|   FL|Lauderdale Lakes|                        0.0|
|     Laura|    Erdman|   MD|          Towson|                        0.0|
|  Jennifer|   Everson|   TX|          Conroe|                        0.0|
|      Mary|  Facciolo|   MD|          Towson|                        0.0|
+----------+----------+-----+----------------+---------------------------+
only showing top 20 rows

In [15]:
pds_df1 = (pds_df
           .groupBy('first_name', 'last_name', 'state', 'city')
           .agg(F.sum('total_amount_of_payment_usd').alias('sum_total_amount_of_payment_usd'))
           .withColumn('total_amount_of_payment_usd', F.col('sum_total_amount_of_payment_usd').cast('float')))

# Show the result
pds_df1.show()

+-----------+----------+-----+---------------+-------------------------------+---------------------------+
| first_name| last_name|state|           city|sum_total_amount_of_payment_usd|total_amount_of_payment_usd|
+-----------+----------+-----+---------------+-------------------------------+---------------------------+
|       Mary|   Goodwin|   NC|      Asheville|                            0.0|                        0.0|
|Christopher|      Ames|   CA|  SAN FRANCISCO|                            0.0|                        0.0|
|   Rajeshri|     Patel|   NY|     Long Beach|                        38348.0|                    38348.0|
|     George|    Ferzli|   NY|  Staten Island|                        70000.0|                    70000.0|
|    Michael| Ziebelman|   FL|   Winter Haven|                            0.0|                        0.0|
|    STEPHEN|     RAMEE|   LA|    NEW ORLEANS|                            0.0|                        0.0|
|       JOHN|    VUKICH|   WI|      WAUWATOSA|                      106911.73|                  106911.73|
|    WILLIAM|     WILEY|   OH|      CLEVELAND|                            0.0|                        0.0|
|      DAVID|   STEWART|   OH|        GAHANNA|                         526.15|                     526.15|
|       Gary|      Heit|   CA|   Redwood City|                         1400.0|                     1400.0|
|    Timothy|   Trainor|   LA|        SLIDELL|                         446.41|                     446.41|
|     ROBERT|      WONG|   TX|         AUSTIN|                            0.0|                        0.0|
|      James|    Cottom|   FL|       Sarosota|                        25000.0|                    25000.0|
|  Jean-Paul|      Tran|   FL|         Oxford|                            0.0|                        0.0|
|     EDWARD|     PEREZ|   MS|      SOUTHAVEN|                       155768.0|                   155768.0|
|    Abhinav|   Chhabra|   VA|Charlottesville|                            0.0|                        0.0|
|         Yu|       Lee|   TX|          Plano|                            0.0|                        0.0|
|     Harvey|  Friedman|   NJ|      Englewood|                            0.0|                        0.0|
|       JACK|    ZIGLER|   TX|          PLANO|                            0.0|                        0.0|
|     Carlos|Valladares|   NV|      Las Vegas|                            0.0|                        0.0|
+-----------+----------+-----+---------------+-------------------------------+---------------------------+
only showing top 20 rows

In [16]:
# Convert all string columns to uppercase
for col_name in pds_df1.columns:
    # Check if the column type is string
    if isinstance(pds_df1.schema[col_name].dataType, StringType):
        pds_df1 = pds_df1.withColumn(col_name, F.upper(F.col(col_name)))

# Show the result
pds_df1.show()

+-----------+----------+-----+---------------+-------------------------------+---------------------------+
| first_name| last_name|state|           city|sum_total_amount_of_payment_usd|total_amount_of_payment_usd|
+-----------+----------+-----+---------------+-------------------------------+---------------------------+
|       MARY|   GOODWIN|   NC|      ASHEVILLE|                            0.0|                        0.0|
|CHRISTOPHER|      AMES|   CA|  SAN FRANCISCO|                            0.0|                        0.0|
|   RAJESHRI|     PATEL|   NY|     LONG BEACH|                        38348.0|                    38348.0|
|     GEORGE|    FERZLI|   NY|  STATEN ISLAND|                        70000.0|                    70000.0|
|    MICHAEL| ZIEBELMAN|   FL|   WINTER HAVEN|                            0.0|                        0.0|
|    STEPHEN|     RAMEE|   LA|    NEW ORLEANS|                            0.0|                        0.0|
|       JOHN|    VUKICH|   WI|      WAUWATOSA|                      106911.73|                  106911.73|
|    WILLIAM|     WILEY|   OH|      CLEVELAND|                            0.0|                        0.0|
|      DAVID|   STEWART|   OH|        GAHANNA|                         526.15|                     526.15|
|       GARY|      HEIT|   CA|   REDWOOD CITY|                         1400.0|                     1400.0|
|    TIMOTHY|   TRAINOR|   LA|        SLIDELL|                         446.41|                     446.41|
|     ROBERT|      WONG|   TX|         AUSTIN|                            0.0|                        0.0|
|      JAMES|    COTTOM|   FL|       SAROSOTA|                        25000.0|                    25000.0|
|  JEAN-PAUL|      TRAN|   FL|         OXFORD|                            0.0|                        0.0|
|     EDWARD|     PEREZ|   MS|      SOUTHAVEN|                       155768.0|                   155768.0|
|    ABHINAV|   CHHABRA|   VA|CHARLOTTESVILLE|                            0.0|                        0.0|
|         YU|       LEE|   TX|          PLANO|                            0.0|                        0.0|
|     HARVEY|  FRIEDMAN|   NJ|      ENGLEWOOD|                            0.0|                        0.0|
|       JACK|    ZIGLER|   TX|          PLANO|                            0.0|                        0.0|
|     CARLOS|VALLADARES|   NV|      LAS VEGAS|                            0.0|                        0.0|
+-----------+----------+-----+---------------+-------------------------------+---------------------------+
only showing top 20 rows

In [17]:
pay_part_d_fpd = part_d_all_pd.join(pds_df1, on=['last_name', 'first_name', 'city', 'state'], how='left')

# Show the result
pay_part_d_fpd.show()

+--------------+----------+--------------+-----+------------+-------------------+--------------------+-------------------+---------------------+----------------------+---------------------+--------------------+---------------------+--------------------+--------------------+-------------------------------+---------------------------+
|     last_name|first_name|          city|state|         npi|sum_total_drug_cost|mean_total_drug_cost|max_total_drug_cost|sum_total_claim_count|mean_total_claim_count|max_total_claim_count|sum_total_day_supply|mean_total_day_supply|max_total_day_supply|           specialty|sum_total_amount_of_payment_usd|total_amount_of_payment_usd|
+--------------+----------+--------------+-----+------------+-------------------+--------------------+-------------------+---------------------+----------------------+---------------------+--------------------+---------------------+--------------------+--------------------+-------------------------------+---------------------------+
|        Tindoc|  Lorelane|Pompton Plains|   NJ| 1.0030124E9|             577.08|              288.54|             373.53|                 70.0|                  35.0|                 39.0|               478.0|                239.0|               283.0|     Family Practice|                           NULL|                       NULL|
|   Chittaphong|       Lam|     San Diego|   CA| 1.0030124E9|             577.08|              288.54|             373.53|                 70.0|                  35.0|                 39.0|               478.0|                239.0|               283.0|             Dentist|                           NULL|                       NULL|
|         Patel|     Viral|    Crittenden|   KY| 1.0030124E9|             577.08|              288.54|             373.53|                 70.0|                  35.0|                 39.0|               478.0|                239.0|               283.0|     Family Practice|                           NULL|                       NULL|
|      Musgrave|     Ethan|    Cincinnati|   OH|1.00302304E9|            1156.66|             289.165|             481.15|                231.0|                 57.75|                116.0|              1321.0|               330.25|               816.0|     Neuropsychiatry|                           NULL|                       NULL|
|      Kasahara|  Takehiro|      New York|   NY|1.00302304E9|            1156.66|             289.165|             481.15|                231.0|                 57.75|                116.0|              1321.0|               330.25|               816.0|Oral Surgery (Den...|                           NULL|                       NULL|
|      Khonsary| Seyed Ali|    South Gate|   CA|1.00302445E9|             116.89|              58.445|              87.57|                 36.0|                  18.0|                 20.0|               664.0|                332.0|               480.0|    Nuclear Medicine|                           NULL|                       NULL|
|       Trenkle|  Geoffrey|   Los Angeles|   CA|1.00304486E9|             296.23|              296.23|             296.23|                 27.0|                  27.0|                 27.0|               208.0|                208.0|               208.0|      Otolaryngology|                           NULL|                       NULL|
|    Khorasanee|Jacqueline|       Chicago|   IL|1.00304486E9|             296.23|              296.23|             296.23|                 27.0|                  27.0|                 27.0|               208.0|                208.0|               208.0|  Emergency Medicine|                           NULL|                       NULL|
|         Chase|    Rachel|        Camden|   NJ|1.00304486E9|             296.23|              296.23|             296.23|                 27.0|                  27.0|                 27.0|               208.0|                208.0|               208.0|  Emergency Medicine|                           NULL|                       NULL|
|Jimenez-Tosado|     Zahir|    Woodbridge|   VA|1.00305856E9|          787805.44|            41463.44|          549919.56|               2828.0|              148.8421|               1071.0|            177261.0|             9329.526|             78262.0|     Family Practice|                           NULL|                       NULL|
|        Kieley|    Samuel|      Woodbury|   MN|1.00305856E9|          787805.44|            41463.44|          549919.56|               2828.0|              148.8421|               1071.0|            177261.0|             9329.526|             78262.0|             Urology|                           NULL|                       NULL|
|    Srivastava|     Dipti|        Auburn|   WA|1.00306285E9|             250.07|            83.35667|             111.04|                 61.0|             20.333334|                 26.0|               615.0|                205.0|               343.0|             Dentist|                           NULL|                       NULL|
|     Rios Sola|    Miguel|        Caguas|   PR|1.00306285E9|             250.07|            83.35667|             111.04|                 61.0|             20.333334|                 26.0|               615.0|                205.0|               343.0|    General Practice|                           NULL|                       NULL|
|        Turner|     Josef|    Pittsburgh|   PA| 1.0030655E9|            1736.81|           289.46832|             624.62|                152.0|             25.333334|                 36.0|               946.0|            157.66667|               246.0|  Emergency Medicine|                           NULL|                       NULL|
|        Tinson|      Faye|   Tallahassee|   FL|1.00307014E9|          168403.05|           2760.7058|           20900.79|               2228.0|              36.52459|                183.0|            128106.0|            2100.0984|             11415.0|  Nurse Practitioner|                           NULL|                       NULL|
|      Ahmadian|  Homayoun|    Germantown|   TN|1.00307014E9|          168403.05|           2760.7058|           20900.79|               2228.0|              36.52459|                183.0|            128106.0|            2100.0984|             11415.0|          Cardiology|                           NULL|                       NULL|
|         Beard|      Mark|       Detroit|   MI| 1.0030707E9|            1540.37|           220.05286|             453.67|                257.0|             36.714287|                101.0|              1894.0|            270.57144|               556.0|     Family Practice|                           NULL|                       NULL|
|        Wright|    Justin|     Corsicana|   TX| 1.0030707E9|            1540.37|           220.05286|             453.67|                257.0|             36.714287|                101.0|              1894.0|            270.57144|               556.0|             Dentist|                           NULL|                       NULL|
|      Sedlacek|    Robert|       Merrill|   WI| 1.0030727E9|          237329.38|           2282.0132|           87333.15|               3932.0|             37.807693|                183.0|            164374.0|            1580.5193|             10351.0|     Family Practice|                           NULL|                       NULL|
|         Weiss|    George|      La Jolla|   CA| 1.0030737E9|            4320.14|           332.31845|             1228.1|                380.0|              29.23077|                120.0|              3080.0|            236.92308|               662.0|    General Practice|                           NULL|                       NULL|
+--------------+----------+--------------+-----+------------+-------------------+--------------------+-------------------+---------------------+----------------------+---------------------+--------------------+---------------------+--------------------+--------------------+-------------------------------+---------------------------+
only showing top 20 rows

In [18]:
pay_part_d_fpd.count()

3160505

In [19]:
leie_data_path = "../DataSet/LEIE.csv"
leie_df = spark.read.csv(leie_data_path, header=True, inferSchema=True)
leie_df.show()

+--------+---------+-------+--------------------+------------------+------------------+----+----------+----+--------------------+----------+-----+-----+--------+--------+--------+----------+--------+
|LASTNAME|FIRSTNAME|MIDNAME|             BUSNAME|           GENERAL|         SPECIALTY|UPIN|       NPI| DOB|             ADDRESS|      CITY|STATE|  ZIP|EXCLTYPE|EXCLDATE|REINDATE|WAIVERDATE|WVRSTATE|
+--------+---------+-------+--------------------+------------------+------------------+----+----------+----+--------------------+----------+-----+-----+--------+--------+--------+----------+--------+
|    NULL|     NULL|   NULL|#1 MARKETING SERV...|    OTHER BUSINESS|        SOBER HOME|NULL|         0|NULL|239 BRIGHTON BEAC...|  BROOKLYN|   NY|11235|  1128a1|20200319|       0|         0|    NULL|
|    NULL|     NULL|   NULL|    1 BEST CARE, INC|    OTHER BUSINESS|HOME HEALTH AGENCY|NULL|         0|NULL|2161 UNIVERSITY A...|SAINT PAUL|   MN|55114|  1128b5|20230518|       0|         0|    NULL|
|    NULL|     NULL|   NULL|101 FIRST CARE PH...|    OTHER BUSINESS|          PHARMACY|NULL|1972902351|NULL|C/O 609 W 191ST S...|  NEW YORK|   NY|10040|  1128b8|20220320|       0|         0|    NULL|
|    NULL|     NULL|   NULL|14 LAWRENCE AVE P...|          PHARMACY|              NULL|NULL|         0|NULL|  14 LAWRENCE AVENUE| SMITHTOWN|   NY|11787|  1128a1|19880830|       0|         0|    NULL|
|    NULL|     NULL|   NULL|143 MEDICAL EQUIP...|       DME COMPANY|      DME - OXYGEN|NULL|         0|NULL|    701 NW 36 AVENUE|     MIAMI|   FL|33125|  1128b7|19970620|       0|         0|    NULL|
|    NULL|     NULL|   NULL|149 BALLSTON AVEN...|    OTHER BUSINESS|    MARKETING FIRM|NULL|         0|NULL|C/O 365 W END AVE...|  NEW YORK|   NY|10024|  1128b6|20230227|       0|         0|    NULL|
|    NULL|     NULL|   NULL|184TH STREET PHAR...|    OTHER BUSINESS|          PHARMACY|NULL|1922348218|NULL|       69 E 184TH ST|     BRONX|   NY|10468|  1128a1|20180419|       0|         0|    NULL|
|    NULL|     NULL|   NULL|1951 FLATBUSH AVE...|          PHARMACY|              NULL|NULL|         0|NULL|   1951 FLATBUSH AVE|  BROOKLYN|   NY|11234|  1128b5|20090319|       0|         0|    NULL|
|    NULL|     NULL|   NULL|1ST COMMUNITY HEA...|            CLINIC|              NULL|NULL|         0|NULL|  3138 W CERMAK ROAD|   CHICAGO|   IL|60623|  1128a1|19940524|       0|         0|    NULL|
|    NULL|     NULL|   NULL|1ST REHABILITATIO...|MANAGEMENT SVCS CO|              NULL|NULL|         0|NULL|C/O 3659 MAGUIRE ...|   ORLANDO|   FL|32803|  1128b8|20020919|       0|         0|    NULL|
|    NULL|     NULL|   NULL|2001 BATH AVENUE ...|    OTHER BUSINESS|          PHARMACY|NULL|         0|NULL|    2001 BATH AVENUE|  BROOKLYN|   NY|11214|  1128a1|20110818|       0|         0|    NULL|
|    NULL|     NULL|   NULL|  2258 PHARMACY, INC|          PHARMACY|              NULL|NULL|         0|NULL|      2258 THIRD AVE|  NEW YORK|   NY|10035|  1128b8|20030720|       0|         0|    NULL|
|    NULL|     NULL|   NULL|227 NINTH AVENUE ...|          PHARMACY|              NULL|NULL|         0|NULL|         227 9TH AVE|  NEW YORK|   NY|10011|  1128b5|19970903|       0|         0|    NULL|
|    NULL|     NULL|   NULL| 3839 PHARMACY, INC.|          PHARMACY|              NULL|NULL|         0|NULL|       3839 BROADWAY|  NEW YORK|   NY|10032|  1128a1|19910704|       0|         0|    NULL|
|    NULL|     NULL|   NULL|     54-26 DRUG CORP|          PHARMACY|              NULL|NULL|         0|NULL|       1120 BROADWAY|  BROOKLYN|   NY|11221|  1128b8|19861204|       0|         0|    NULL|
|    NULL|     NULL|   NULL|716 TRANSPORTATIO...|    OTHER BUSINESS| TRANSPORTATION CO|NULL|         0|NULL|       540 VINE LANE|   BUFFALO|   NY|14228|  1128a1|20190620|       0|         0|    NULL|
|    NULL|     NULL|   NULL|764 FRANKLIN AVE ...|          PHARMACY|              NULL|NULL|         0|NULL| 764 FRANKLIN AVENUE|  BROOKLYN|   NY|11238|  1128a1|19911229|       0|         0|    NULL|
|    NULL|     NULL|   NULL|882 E 180TH STREE...|          PHARMACY|              NULL|NULL|         0|NULL|  882 E 180TH STREET|     BRONX|   NY|10460|  1128b4|19920903|       0|         0|    NULL|
|    NULL|     NULL|   NULL|   A & A LIVERY, INC| TRANSPORTATION CO|              NULL|NULL|         0|NULL|   15 WALLACE STREET|   METHUEN|   MA|01844|  1128a1|19930406|       0|         0|    NULL|
|    NULL|     NULL|   NULL|A & A MEDICAL CEN...|            CLINIC|              NULL|NULL|         0|NULL|8231 N W 8TH ST, ...|     MIAMI|   FL|33128|  1128b8|20010719|       0|         0|    NULL|
+--------+---------+-------+--------------------+------------------+------------------+----+----------+----+--------------------+----------+-----+-----+--------+--------+--------+----------+--------+
only showing top 20 rows

In [20]:
leie_df.printSchema()

root
 |-- LASTNAME: string (nullable = true)
 |-- FIRSTNAME: string (nullable = true)
 |-- MIDNAME: string (nullable = true)
 |-- BUSNAME: string (nullable = true)
 |-- GENERAL: string (nullable = true)
 |-- SPECIALTY: string (nullable = true)
 |-- UPIN: string (nullable = true)
 |-- NPI: integer (nullable = true)
 |-- DOB: integer (nullable = true)
 |-- ADDRESS: string (nullable = true)
 |-- CITY: string (nullable = true)
 |-- STATE: string (nullable = true)
 |-- ZIP: string (nullable = true)
 |-- EXCLTYPE: string (nullable = true)
 |-- EXCLDATE: string (nullable = true)
 |-- REINDATE: integer (nullable = true)
 |-- WAIVERDATE: integer (nullable = true)
 |-- WVRSTATE: string (nullable = true)

In [21]:
leie_df1 = leie_df.select(
    col('NPI').alias("npi"),
    col('EXCLTYPE').alias("is_fraud")
)
leie_df1.show()

+----------+--------+
|       npi|is_fraud|
+----------+--------+
|         0|  1128a1|
|         0|  1128b5|
|1972902351|  1128b8|
|         0|  1128a1|
|         0|  1128b7|
|         0|  1128b6|
|1922348218|  1128a1|
|         0|  1128b5|
|         0|  1128a1|
|         0|  1128b8|
|         0|  1128a1|
|         0|  1128b8|
|         0|  1128b5|
|         0|  1128a1|
|         0|  1128b8|
|         0|  1128a1|
|         0|  1128a1|
|         0|  1128b4|
|         0|  1128a1|
|         0|  1128b8|
+----------+--------+
only showing top 20 rows

In [22]:
leie_df2 = leie_df1.filter(col('npi') != 0)
leie_df2.show()

+----------+--------+
|       npi|is_fraud|
+----------+--------+
|1972902351|  1128b8|
|1922348218|  1128a1|
|1942476080|  1128b8|
|1275600959|  1128a1|
|1891731758|  1128b8|
|1265830335|  1128a1|
|1851631543|  1128b7|
|1902198435|  1128a1|
|1073916631|  1128b7|
|1437510278|  1128a1|
|1073682936|  1128b7|
|1902166028|  1128b8|
|1992906937|  1128b8|
|1104947944|  1128a1|
|1164669479|  1128a1|
|1043302250|  1128a1|
|1801231436|  1128a1|
|1912011800|  1128b8|
|1780812768|  1128b7|
|1447560867|  1128b8|
+----------+--------+
only showing top 20 rows

In [23]:
leie_df2 = leie_df2.withColumn('is_fraud', lit(1))
    

# Show the result
leie_df2.show()

+----------+--------+
|       npi|is_fraud|
+----------+--------+
|1972902351|       1|
|1922348218|       1|
|1942476080|       1|
|1275600959|       1|
|1891731758|       1|
|1265830335|       1|
|1851631543|       1|
|1902198435|       1|
|1073916631|       1|
|1437510278|       1|
|1073682936|       1|
|1902166028|       1|
|1992906937|       1|
|1104947944|       1|
|1164669479|       1|
|1043302250|       1|
|1801231436|       1|
|1912011800|       1|
|1780812768|       1|
|1447560867|       1|
+----------+--------+
only showing top 20 rows

In [24]:
leie_df2.printSchema()

root
 |-- npi: integer (nullable = true)
 |-- is_fraud: integer (nullable = false)

In [25]:
# Features Engineering 
feature_1 = leie_df2.join(pay_part_d_fpd, on='npi', how='left')

In [26]:
feature_1.printSchema()

root
 |-- npi: integer (nullable = true)
 |-- is_fraud: integer (nullable = false)
 |-- last_name: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- sum_total_drug_cost: float (nullable = true)
 |-- mean_total_drug_cost: float (nullable = true)
 |-- max_total_drug_cost: float (nullable = true)
 |-- sum_total_claim_count: float (nullable = true)
 |-- mean_total_claim_count: float (nullable = true)
 |-- max_total_claim_count: float (nullable = true)
 |-- sum_total_day_supply: float (nullable = true)
 |-- mean_total_day_supply: float (nullable = true)
 |-- max_total_day_supply: float (nullable = true)
 |-- specialty: string (nullable = true)
 |-- sum_total_amount_of_payment_usd: double (nullable = true)
 |-- total_amount_of_payment_usd: float (nullable = true)

In [27]:
#Filling 0 for NA
feature_1.fillna(0)
feature_1.show()

+----------+--------+----------+----------+----------------+-----+-------------------+--------------------+-------------------+---------------------+----------------------+---------------------+--------------------+---------------------+--------------------+--------------------+-------------------------------+---------------------------+
|       npi|is_fraud| last_name|first_name|            city|state|sum_total_drug_cost|mean_total_drug_cost|max_total_drug_cost|sum_total_claim_count|mean_total_claim_count|max_total_claim_count|sum_total_day_supply|mean_total_day_supply|max_total_day_supply|           specialty|sum_total_amount_of_payment_usd|total_amount_of_payment_usd|
+----------+--------+----------+----------+----------------+-----+-------------------+--------------------+-------------------+---------------------+----------------------+---------------------+--------------------+---------------------+--------------------+--------------------+-------------------------------+---------------------------+
|1063827970|       1|      NULL|      NULL|            NULL| NULL|               NULL|                NULL|               NULL|                 NULL|                  NULL|                 NULL|                NULL|                 NULL|                NULL|                NULL|                           NULL|                       NULL|
|1093877144|       1|      NULL|      NULL|            NULL| NULL|               NULL|                NULL|               NULL|                 NULL|                  NULL|                 NULL|                NULL|                 NULL|                NULL|                NULL|                           NULL|                       NULL|
|1174547459|       1|    Weaver|      John|          Naples|   FL|           81307.94|            1534.112|           34990.29|               1589.0|             29.981133|                104.0|             86839.0|            1638.4717|              6840.0|   Internal Medicine|                           NULL|                       NULL|
|1174547459|       1|  Boyajian|    Robert|        Secaucus|   NJ|           81307.94|            1534.112|           34990.29|               1589.0|             29.981133|                104.0|             86839.0|            1638.4717|              6840.0|   Internal Medicine|                           NULL|                       NULL|
|1174547459|       1|    Weaver|      John|          Naples|   FL|           25673.16|           777.97455|            7064.41|                565.0|             17.121212|                 33.0|             12983.0|            393.42426|               750.0|   Internal Medicine|                           NULL|                       NULL|
|1174547459|       1|  Boyajian|    Robert|        Secaucus|   NJ|           25673.16|           777.97455|            7064.41|                565.0|             17.121212|                 33.0|             12983.0|            393.42426|               750.0|   Internal Medicine|                           NULL|                       NULL|
|1235135138|       1|      NULL|      NULL|            NULL| NULL|               NULL|                NULL|               NULL|                 NULL|                  NULL|                 NULL|                NULL|                 NULL|                NULL|                NULL|                           NULL|                       NULL|
|1255463576|       1|      Dinh|      Hoai|         Gardena|   CA|             584.94|              292.47|             407.58|                 94.0|                  47.0|                 75.0|              1348.0|                674.0|               676.0|             Dentist|                           NULL|                       NULL|
|1316028319|       1|Skowronski|   Raymond|Sterling Heights|   MI|           40548.82|             3119.14|            8474.89|                353.0|             27.153847|                 59.0|             16000.0|            1230.7693|              2781.0|             Dentist|                           NULL|                       NULL|
|1316028319|       1|     Peden|      Marc|           Tampa|   FL|           40548.82|             3119.14|            8474.89|                353.0|             27.153847|                 59.0|             16000.0|            1230.7693|              2781.0|       Ophthalmology|                           NULL|                       NULL|
|1316028319|       1|    Fisher|    Joslyn|         Houston|   TX|           40548.82|             3119.14|            8474.89|                353.0|             27.153847|                 59.0|             16000.0|            1230.7693|              2781.0|   Internal Medicine|                           NULL|                       NULL|
|1316028319|       1|Skowronski|   Raymond|Sterling Heights|   MI|             178.97|           59.656666|              68.83|                 58.0|             19.333334|                 31.0|               439.0|            146.33333|               234.0|             Dentist|                           NULL|                       NULL|
|1316028319|       1|     Peden|      Marc|           Tampa|   FL|             178.97|           59.656666|              68.83|                 58.0|             19.333334|                 31.0|               439.0|            146.33333|               234.0|       Ophthalmology|                           NULL|                       NULL|
|1316028319|       1|    Fisher|    Joslyn|         Houston|   TX|             178.97|           59.656666|              68.83|                 58.0|             19.333334|                 31.0|               439.0|            146.33333|               234.0|   Internal Medicine|                           NULL|                       NULL|
|1316028319|       1|Skowronski|   Raymond|Sterling Heights|   MI|           11698.21|            467.9284|            1262.09|                509.0|                 20.36|                 46.0|             30966.0|              1238.64|              2970.0|             Dentist|                           NULL|                       NULL|
|1316028319|       1|     Peden|      Marc|           Tampa|   FL|           11698.21|            467.9284|            1262.09|                509.0|                 20.36|                 46.0|             30966.0|              1238.64|              2970.0|       Ophthalmology|                           NULL|                       NULL|
|1316028319|       1|    Fisher|    Joslyn|         Houston|   TX|           11698.21|            467.9284|            1262.09|                509.0|                 20.36|                 46.0|             30966.0|              1238.64|              2970.0|   Internal Medicine|                           NULL|                       NULL|
|1376856294|       1|    Legacy|   Valerie|    Indianapolis|   IN|          316714.12|            4948.658|            64484.9|               3265.0|             51.015625|                461.0|            131510.0|            2054.8438|             21016.0|  Nurse Practitioner|                           NULL|                       NULL|
|1417989476|       1|   Johnson|      Gwen|        Hubertus|   WI|           14182.58|           2026.0829|            5666.66|                126.0|                  18.0|                 40.0|              7002.0|            1000.2857|              3507.0|     Family Practice|                           NULL|                       NULL|
|1417989476|       1|  Adamczyk|   Charles|          Naples|   FL|           14182.58|           2026.0829|            5666.66|                126.0|                  18.0|                 40.0|              7002.0|            1000.2857|              3507.0|Obstetrics & Gyne...|                           NULL|                       NULL|
+----------+--------+----------+----------+----------------+-----+-------------------+--------------------+-------------------+---------------------+----------------------+---------------------+--------------------+---------------------+--------------------+--------------------+-------------------------------+---------------------------+
only showing top 20 rows

In [28]:
feature_1.count()

51347

In [29]:
feature_1.filter(col('is_fraud') == 1).count()

51347

In [30]:
feature_all_df = feature_1

In [31]:
feature_all_df.printSchema()

root
 |-- npi: integer (nullable = true)
 |-- is_fraud: integer (nullable = false)
 |-- last_name: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- sum_total_drug_cost: float (nullable = true)
 |-- mean_total_drug_cost: float (nullable = true)
 |-- max_total_drug_cost: float (nullable = true)
 |-- sum_total_claim_count: float (nullable = true)
 |-- mean_total_claim_count: float (nullable = true)
 |-- max_total_claim_count: float (nullable = true)
 |-- sum_total_day_supply: float (nullable = true)
 |-- mean_total_day_supply: float (nullable = true)
 |-- max_total_day_supply: float (nullable = true)
 |-- specialty: string (nullable = true)
 |-- sum_total_amount_of_payment_usd: double (nullable = true)
 |-- total_amount_of_payment_usd: float (nullable = true)

In [32]:
# Scaling the features
# Apply log transformation and create new columns for differences
feature_all_df = (feature_all_df
                  .withColumn('sum_total_drug_cost', log10(col('sum_total_drug_cost') + 1.0))
                  .withColumn('sum_total_claim_count', log10(col('sum_total_claim_count') + 1.0))
                  .withColumn('sum_total_day_supply', log10(col('sum_total_day_supply') + 1.0))
                  .withColumn('sum_total_amount_of_payment_usd', log10(col('sum_total_amount_of_payment_usd') + 1.0))
                  .withColumn('mean_total_drug_cost', log10(col('mean_total_drug_cost') + 1.0))
                  .withColumn('mean_total_claim_count', log10(col('mean_total_claim_count') + 1.0))
                  .withColumn('mean_total_day_supply', log10(col('mean_total_day_supply') + 1.0))
                  .withColumn('max_total_drug_cost', log10(col('max_total_drug_cost') + 1.0))
                  .withColumn('max_total_claim_count', log10(col('max_total_claim_count') + 1.0))
                  .withColumn('max_total_day_supply', log10(col('max_total_day_supply') + 1.0))
                  .withColumn('claim_max_mean', col('max_total_claim_count') - col('mean_total_claim_count'))
                  .withColumn('supply_max_mean', col('max_total_day_supply') - col('max_total_day_supply'))
                  .withColumn('drug_max_mean', col('max_total_drug_cost') - col('mean_total_drug_cost')))

# Show the result
feature_all_df.show()

+----------+--------+--------------+----------+----------------+-----+-------------------+--------------------+-------------------+---------------------+----------------------+---------------------+--------------------+---------------------+--------------------+-------------------+-------------------------------+---------------------------+-------------------+---------------+-------------------+
|       npi|is_fraud|     last_name|first_name|            city|state|sum_total_drug_cost|mean_total_drug_cost|max_total_drug_cost|sum_total_claim_count|mean_total_claim_count|max_total_claim_count|sum_total_day_supply|mean_total_day_supply|max_total_day_supply|          specialty|sum_total_amount_of_payment_usd|total_amount_of_payment_usd|     claim_max_mean|supply_max_mean|      drug_max_mean|
+----------+--------+--------------+----------+----------------+-----+-------------------+--------------------+-------------------+---------------------+----------------------+---------------------+--------------------+---------------------+--------------------+-------------------+-------------------------------+---------------------------+-------------------+---------------+-------------------+
|1003000407|       1|          NULL|      NULL|            NULL| NULL|               NULL|                NULL|               NULL|                 NULL|                  NULL|                 NULL|                NULL|                 NULL|                NULL|               NULL|                           NULL|                       NULL|               NULL|           NULL|               NULL|
|1003011644|       1|          NULL|      NULL|            NULL| NULL|               NULL|                NULL|               NULL|                 NULL|                  NULL|                 NULL|                NULL|                 NULL|                NULL|               NULL|                           NULL|                       NULL|               NULL|           NULL|               NULL|
|1003016742|       1|Diaz Hernandez|   Antonio|        San Juan|   PR| 1.8267225102929743|  1.8267225102929743| 1.8267225102929743|    1.462397997898956|     1.462397997898956|    1.462397997898956|   2.250420002308894|    2.250420002308894|   2.250420002308894|         Nephrology|                           NULL|                       NULL|                0.0|            0.0|                0.0|
|1003016742|       1|         Blank|   Stephen|Port Saint Lucie|   FL| 1.8267225102929743|  1.8267225102929743| 1.8267225102929743|    1.462397997898956|     1.462397997898956|    1.462397997898956|   2.250420002308894|    2.250420002308894|   2.250420002308894|            Dentist|                           NULL|                       NULL|                0.0|            0.0|                0.0|
|1003016742|       1|Diaz Hernandez|   Antonio|        San Juan|   PR|  5.307386414195402|  3.7511588084113554|  4.862426016457423|   3.1975562131535367|    1.6507930396519308|   2.3541084391474008|  4.7890375044864735|   3.2329820039755033|  3.8452221064290137|         Nephrology|                           NULL|                       NULL|   0.70331539949547|            0.0| 1.1112672080460677|
|1003016742|       1|         Blank|   Stephen|Port Saint Lucie|   FL|  5.307386414195402|  3.7511588084113554|  4.862426016457423|   3.1975562131535367|    1.6507930396519308|   2.3541084391474008|  4.7890375044864735|   3.2329820039755033|  3.8452221064290137|            Dentist|                           NULL|                       NULL|   0.70331539949547|            0.0| 1.1112672080460677|
|1003027665|       1|          NULL|      NULL|            NULL| NULL|               NULL|                NULL|               NULL|                 NULL|                  NULL|                 NULL|                NULL|                 NULL|                NULL|               NULL|                           NULL|                       NULL|               NULL|           NULL|               NULL|
|1003040601|       1|          NULL|      NULL|            NULL| NULL|               NULL|                NULL|               NULL|                 NULL|                  NULL|                 NULL|                NULL|                 NULL|                NULL|               NULL|                           NULL|                       NULL|               NULL|           NULL|               NULL|
|1003048299|       1|          NULL|      NULL|            NULL| NULL|               NULL|                NULL|               NULL|                 NULL|                  NULL|                 NULL|                NULL|                 NULL|                NULL|               NULL|                           NULL|                       NULL|               NULL|           NULL|               NULL|
|1003065491|       1|        Turner|     Josef|      Pittsburgh|   PA|  3.240002306627877|   2.463098776990353| 2.7963106205349906|    2.184691430817599|    1.4205058470562344|    1.568201724066995|  2.9763499790032735|    2.200485711922696|   2.392696953259666| Emergency Medicine|                           NULL|                       NULL| 0.1476958770107606|            0.0| 0.3332118435446376|
|1003136961|       1|          Gore|     Ethan|       Pensacola|   FL| 3.7023021046464653|  2.4250972782086047| 2.8277568472145775|    2.595496221825574|     1.336143601006381|    1.716003343634799|    4.11414374967188|    2.835990792698078|   3.445759836488631|          Neurology|                           NULL|                       NULL|0.37985974262841804|            0.0| 0.4026595690059729|
|1003136961|       1|            Im|   Raynald|         Everett|   WA| 3.7023021046464653|  2.4250972782086047| 2.8277568472145775|    2.595496221825574|     1.336143601006381|    1.716003343634799|    4.11414374967188|    2.835990792698078|   3.445759836488631|    Family Practice|                           NULL|                       NULL|0.37985974262841804|            0.0| 0.4026595690059729|
|1003136961|       1|          Gore|     Ethan|       Pensacola|   FL|  5.554146381865549|  3.8640084855557926|  4.833340829169682|   3.3242824552976926|     1.643855369530808|    2.292256071356476|   5.139082149101801|   3.4490373737257114|    4.15944687338747|          Neurology|                           NULL|                       NULL| 0.6484007018256679|            0.0| 0.9693323436138894|
|1003136961|       1|            Im|   Raynald|         Everett|   WA|  5.554146381865549|  3.8640084855557926|  4.833340829169682|   3.3242824552976926|     1.643855369530808|    2.292256071356476|   5.139082149101801|   3.4490373737257114|    4.15944687338747|    Family Practice|                           NULL|                       NULL| 0.6484007018256679|            0.0| 0.9693323436138894|
|1003160466|       1|        Kaiser|   Heather|          Exeter|   NH| 2.4869968797947317|   2.187379684630178| 2.2995508944576173|    1.792391689498254|    1.4983105537896004|   1.6989700043360187|  2.3344537511509307|   2.0354297381845483|   2.143014800254095|Physician Assistant|                           NULL|                       NULL|0.20065945054641832|            0.0|0.11217120982743944|
|1003160805|       1|          NULL|      NULL|            NULL| NULL|               NULL|                NULL|               NULL|                 NULL|                  NULL|                 NULL|                NULL|                 NULL|                NULL|               NULL|                           NULL|                       NULL|               NULL|           NULL|               NULL|
|1003280991|       1|         Boyle|    Brenda|  San Bernardino|   CA|  3.411914185692954|   3.411914185692954|  3.411914185692954|   1.3010299956639813|    1.3010299956639813|   1.3010299956639813|   2.582063362911709|    2.582063362911709|   2.582063362911709| Nurse Practitioner|                           NULL|                       NULL|                0.0|            0.0|                0.0|
|1003280991|       1| Shumaker-Kirk| Charvette|          Newnan|   GA|  3.411914185692954|   3.411914185692954|  3.411914185692954|   1.3010299956639813|    1.3010299956639813|   1.3010299956639813|   2.582063362911709|    2.582063362911709|   2.582063362911709| Nurse Practitioner|                           NULL|                       NULL|                0.0|            0.0|                0.0|
|1003280991|       1|         Boyle|    Brenda|  San Bernardino|   CA|   3.44555749482991|   2.968747484248342| 3.3937295710843025|   1.6020599913279625|     1.146128035678238|    1.146128035678238|  3.0195316845312554|   2.5432400405746254|  2.5921767573958667| Nurse Practitioner|                           NULL|                       NULL|                0.0|            0.0| 0.4249820868359606|
|1003280991|       1| Shumaker-Kirk| Charvette|          Newnan|   GA|   3.44555749482991|   2.968747484248342| 3.3937295710843025|   1.6020599913279625|     1.146128035678238|    1.146128035678238|  3.0195316845312554|   2.5432400405746254|  2.5921767573958667| Nurse Practitioner|                           NULL|                       NULL|                0.0|            0.0| 0.4249820868359606|
+----------+--------+--------------+----------+----------------+-----+-------------------+--------------------+-------------------+---------------------+----------------------+---------------------+--------------------+---------------------+--------------------+-------------------+-------------------------------+---------------------------+-------------------+---------------+-------------------+
only showing top 20 rows

In [46]:
feature_all_df = feature_all_df.withColumn("npi", col("npi").cast(StringType()))

In [58]:
categorical_features = ['npi','last_name', 'specialty','first_name','city', 'state']

numerical_features = ['sum_total_drug_cost', 'mean_total_drug_cost','total_amount_of_payment_usd',
       'max_total_drug_cost', 'sum_total_claim_count',
       'mean_total_claim_count', 'max_total_claim_count',
       'sum_total_day_supply', 'mean_total_day_supply', 'max_total_day_supply',
    'claim_max_mean','supply_max_mean', 'drug_max_mean']

target = ['is_fraud']

In [59]:
# Combining all feature names
all_features = categorical_features + numerical_features + target

In [60]:
#Splitting the Data into Training and Validation Sets
train_df, valid_df = feature_all_df.randomSplit([0.8, 0.2], seed=0)

feature_all_df.printSchema()

root
 |-- npi: string (nullable = true)
 |-- is_fraud: integer (nullable = false)
 |-- last_name: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- sum_total_drug_cost: double (nullable = true)
 |-- mean_total_drug_cost: double (nullable = true)
 |-- max_total_drug_cost: double (nullable = true)
 |-- sum_total_claim_count: double (nullable = true)
 |-- mean_total_claim_count: double (nullable = true)
 |-- max_total_claim_count: double (nullable = true)
 |-- sum_total_day_supply: double (nullable = true)
 |-- mean_total_day_supply: double (nullable = true)
 |-- max_total_day_supply: double (nullable = true)
 |-- specialty: string (nullable = true)
 |-- sum_total_amount_of_payment_usd: double (nullable = true)
 |-- total_amount_of_payment_usd: float (nullable = true)
 |-- claim_max_mean: double (nullable = true)
 |-- supply_max_mean: double (nullable = true)
 |-- drug_max_mean: double (nullable = true)

In [61]:
#Handling Missing Values

# Fill numerical features with 0
train_df = train_df.fillna(0, subset=numerical_features)
valid_df = valid_df.fillna(0, subset=numerical_features)

# Fill categorical features with 'NA'
train_df = train_df.fillna('NA', subset=categorical_features)
valid_df = valid_df.fillna('NA', subset=categorical_features)

In [ ]:
#Feature Transformation

#OneHotEncoding for categorical features
indexers = [StringIndexer(inputCol=col, outputCol=col+"_index").setHandleInvalid("keep") for col in categorical_features]
encoders = [OneHotEncoder(inputCol=col+"_index", outputCol=col+"_encoded") for col in categorical_features]

# Assembling combined feature vector
assembler = VectorAssembler(inputCols=[encoder.getOutputCol() for encoder in encoders] + numerical_features, outputCol="features")

# Standard Scaler for numerical features
scaler = StandardScaler(inputCol="features", outputCol="scaledFeatures")

# Define a pipeline
pipeline = Pipeline(stages=indexers + encoders + [assembler, scaler])

# Fit and transform the training data
train_df_transformed = pipeline.fit(train_df).transform(train_df)

# Transform the validation data
valid_df_transformed = pipeline.fit(train_df).transform(valid_df)